<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body th:fragment="page_footer">

<footer class="footer background-color-primary-accent">
    <!--<div class="footer-banner background-color-primary"></div>-->
    <div class="container">
        <p class="text-muted">Copyright &copy; EMBL-EBI 2015 | EMBL-EBI is an Outstation of the
            <a href="http://www.embl.org">European Molecular
                                          Biology
                                          Laboratory</a> |
            <a href="//www.ebi.ac.uk/about/privacy">Privacy</a> |
            <a href="//www.ebi.ac.uk/about/cookies">Cookies</a> |
            <a href="//www.ebi.ac.uk/about/terms-of-use">Terms of use</a></p>
    </div>
</footer>

</body>
</html>
