<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body th:fragment="studies_datatable">
<!-- Studies table -->
<div class="row" id="study-table-loading" style="margin-top:20px">
    <div id="study_panel" class="panel panel-default">
        <div class="panel-heading background-color-primary-accent">
            <h3 class="panel-title">
                <span class="study_label">Studies</span><span class="study_count badge available-data-btn-badge"></span>
            </h3>

            <span class="pull-right clickable panel-collapsed"
                  onclick="toggleSidebar('#study_panel span.clickable')">
                                 <span class="glyphicon glyphicon-chevron-down"></span>
                            </span>
        </div>

        <div class="panel-body" style="display:none">
            <table id="study-table" class="table table-striped borderless"
                   data-flat="true"
                   data-show-export="true"
                   data-search="true"
                   data-show-columns="true"
                   data-show-multi-sort="true">
            </table>
        </div>
    </div>
</div>
</body>
</html>