.fbs-flyout-content > h1,h2,h3,h4,h5,h6 {
    clear: none !important;
}

.context-help-wrapper {
    position: relative;
    top: 10px;
    left: 20px;
    z-index: 1;
    display: none;
}

.context-help-content {
    position: absolute;
    border: 1px solid #000000;
    background-color: #f7f7f7;
    display: none;
}

.context-help-label {
    font-weight: inherit;
    color: inherit;
}

.context-help-label:after {
    font-family: 'EBI-Generic';
    font-size: 70%;
    color: inherit !important;
    content: attr(data-icon);
    vertical-align: super;
    margin: 0 0 0 0;
}

.clickable {
    cursor: pointer;
}

.sort-wrapper {
    height: 140px;
}

.sort-container {
    border: 2px solid #eee;
    background: #ffffff;
    height: 120px;
}

.sort-container ul,ol {
    margin: 0;
    padding: 0;
    min-height: 118px;
}

.sortable {
    font-size: 0.7em;
    list-style-type: none;
    margin-bottom: 1px;
    padding: 1px 1px 1px 16px;
}

.sortable span {
    position: absolute;
    margin-top: -3px;
    margin-left: -16px;
}

.selectable {
    font-size: 0.7em;
    list-style-type: none;
    margin-bottom: 1px;
}

.selectable span {
    position: absolute;
    margin-top: -3px;
    margin-left: -16px;
}

.eg-description {
    font-style: italic;
    color: #999;
    padding-top: 10px;
}

.eg-content {
    font-family: monospace;
    white-space: pre;
    border: 1px solid #E2E1D5;
    margin: 5px 10px;
    padding: 10px;
    border-radius: 2px;
}

.eg-var {
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
}

table.col-6 {
    max-width: 98%;
    table-layout: fixed;
}

table.col-6 th,td {
    max-width: 16%;
    font-size: 0.9em;
}

.scroll-pane {

}

table.version {
    margin-left: 5%;
    width: 250px;
    font-size: 0.8em;
    border: none;
}

.version > th,tr,td {
    border: none;
}

.docs-label {
    font-weight: bold;
    font-style: italic;
}

.progress-label {
    font-size: 0.7em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    float: left;
    text-shadow: 1px 1px 0 #fff;
}

.automatic {
    background-color: #DEFFDE;
}

.curation {
    background-color: #FFFDC4;
}

.unmapped {
    display: none;
}
