body {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
}

h3.nomargin {
    margin-top: 1px;
    margin-bottom: 1px;
}

.fullheight {
    height: 100%;
}

.tabcontent {
    height: 100%;
    overflow: auto;
}

.debugging {
    border: #f08080 dashed 1px;
}

#page_wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px
}

#header_wrapper {
    margin: 0;
    padding: 0;
}

#header {
    height: 80px;
    padding-top: 20px;
    padding-bottom: 15px;
    background: url('../images/dual-logo2.png') top right no-repeat;
    /*padding-top: 92px;*/
    /*padding-bottom: 15px;*/
    /*background: url('../images/topbanner.jpg') top left no-repeat;*/
    margin: 0;
}

#header h1 {
    margin: 0;
    font-size: 28px;
    color: #000000;
    letter-spacing: -1px;
}

#header h2 {
    margin: 0;
    font-size: 14px;
    color: #B1C6EB;
    letter-spacing: 1px;
}

.legend {
    display: none;
    position: fixed;
    width: 220px;
    right: 38px;
    background: #f4f4f4;
    border: #777788 1px solid;
    padding: 8px;
    z-index: 15;
}

#legendrevealer {
    width: 100%;
}

#legendwrapper {
    float: right;
    margin-right: 13px;
    margin-top: 4px;
}

#diagramarea {
    width: 100%;
    /*height: 600px;*/
    overflow: hidden;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 2px;
}

.navbar {
    position: absolute;
    top: 100px;
    left: 55px;
    z-index: 100;
}

.zoom-button {
    margin-top: -1px;
    margin-bottom: -1px;
    right: 4px;
}

.slides_container {
    width: 1024px;
    height: 680px;
    border: 1px solid #777788;
}

.slides_container div {
    width: 1024px;
    height: 680px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slides_container img {
    width: 99%;
    padding-top: 20px;
}

.slides_container h3 {
    position: absolute;
    text-align: center;
    padding-left: 443px;
}

.pagination {
    margin: 6px 6px 6px -40px;
    list-style: none;
}

.pagination li {
    float: left;
    margin: 0 1px;
}

.pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(../images/timeseries/pagination.png);
    background-position: 0 0;
    /*float: left;*/
    overflow: hidden;
}

.pagination li.current a, .pagination li.current a:hover {
    background-position: 0 -13px
}

.pagination li a:hover {
    background-position: 0 -26px
}

#slides a:link, #slides a:visited {
    color: #333
}

#slides a:hover, #slides a:active {
    color: #9e2020
}