<!DOCTYPE html>
<!--<html lang="en"-->
      <!--xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns="http://www.w3.org/1999/xhtml">-->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>GWAS Catalog REST API</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description"
          content="The NHGRI-EBI GWAS Catalog: a curated collection of all published genome-wide association studies, produced by a collaboration between EMBL-EBI and NHGRI"/>
    <meta name="keywords" content="GWAS Catalog, GWAS, NHGRI, EBI, EMBL-EBI, SPOT"/>
    <meta name="author" content="Tony Burdett, Emma Hastings, Dani Welter, SPOT, EMBL-EBI, NHGRI"/>
    <!--<link rel="icon" href="../static/icons/favicon.ico" th:href="@{icons/favicon.ico}"/>-->
    <link rel="icon" href="../static/icons/favicon.ico"/>

</head>
<body>

<h1>GWAS Catalog REST API</h1>

<p>Welcome to the GWAS Catalog REST API</p>

<p>Please note that the new REST API is currently in beta release, so endpoints may undergo changes. Any feedback, comments, thoughts, questions, bug reports or suggestions, please get in touch via <a href="mailto:gwas-info@ebi.ac.uk">gwas-info@ebi.ac.uk</a>. We'd love to hear from you!</p>

<p><a href="http://www.ebi.ac.uk/gwas/labs/rest/api">List of endpoints</a>
<br/>
    <br/>
<a href="http://www.ebi.ac.uk/gwas/labs/rest/docs/index">Documentation</a>
</p>

</body>
</html>