<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE" value="gwas_mapping.log" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <!--current log file-->
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--determines when we rollover-->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>2</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="uk.ac.ebi.spot.goci.service.MappingService" level="WARN" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="uk.ac.ebi.spot.goci.service.EnsemblRestService" level="WARN" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="uk.ac.ebi.spot.goci.component.EnsemblMappingPipeline" level="WARN" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="uk.ac.ebi.spot.goci.service.SnpGenomicContextMappingService" level="WARN" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <root level="WARN">
        <appender-ref ref="FILE" />
    </root>
</configuration>