?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p (%F:%L) - %m%n" />
        </layout>
    </appender>

    <appender name="goci-metrics-log" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="File" value="goci-metrics.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d] %-5p (%F:%L) - %m%n" />
        </layout>
    </appender>

    <appender name="benchmark-log" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="File" value="bench-marking.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d] %-5p (%F:%L) - %m%n" />
        </layout>
    </appender>

    <logger name="org.springframework" additivity="false">
        <level value="WARN" />
        <appender-ref ref="goci-metrics-log" />
    </logger>

    <logger name="uk.ac.ebi.fgpt.goci.pussycat.GOCIPussycatMetricsDriver" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="goci-metrics-log" />
    </logger>

    <logger name="benchmark.output.log" additivity="false">
        <level value="INFO" />
        <appender-ref ref="benchmark-log" />
    </logger>

    <root>
        <priority value="INFO" />
        <appender-ref ref="goci-metrics-log" />
    </root>

</log4j:configuration>
