<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body th:fragment="top_level">
<div class="container-fluid" th:object="${study}" th:if="${not #lists.isEmpty(snpAssociationTableViews)}">
    <div class="row">
        <div class="col-md-12">

            <a href="#DeleteAllModal"
               class="btn btn-default"
               data-toggle="modal"
               role="button">Delete All SNPs</a>

            <!--th:value used to send study id to javascript file-->
            <a href="#DeleteSelectedModal"
               class="btn btn-default"
               role="button"
               data-toggle="modal">Delete Checked SNPs</a>

            <a th:href="@{/studies/{studyId}/associations/applyefotraits(studyId=${study.Id})}"
               class="btn btn-default"
               role="button">Apply EFO trait(s) to all SNPs</a>
            
            <a th:href="@{/studies/{studyId}/associations/approve_all(studyId=${study.Id})}"
               class="btn btn-default"
               role="button">Approve All SNPs</a>

            <!--th:value used to send study id to javascript file-->
            <a id="approve-button"
               class="btn btn-default"
               role="button">Approve Checked SNPs</a>

            <a id="unapprove-button"
               class="btn btn-default"
               role="button">Unapprove Checked SNPs</a>

            <a th:href="@{/studies/{studyId}/associations/download(studyId=${study.Id})}"
               class="btn btn-default pull-right"
               role="button">Download SNPs to spreadsheet</a>

        </div>
    </div>
</div>

<!-- Modal HTML -->
<div id="DeleteAllModal" class="modal fade" th:object="${study}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete all SNP associations?</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <a th:href="@{/studies/{studyId}/associations/delete_all(studyId=${study.Id})}"
                       class="btn btn-default"
                       role="button">Delete All SNPs</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="DeleteSelectedModal" class="modal fade" th:object="${study}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete selected SNP associations?</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--th:value used to send study id to javascript file-->
                    <a id="delete-button"
                       class="btn btn-default"
                       role="button">Delete Checked SNPs</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>