<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body th:fragment="top_level_published">
<div class="container-fluid" th:object="${study}" th:if="${not #lists.isEmpty(snpAssociationTableViews)}">
    <div class="row">
        <div class="col-md-12">

            <a th:href="@{/studies/{studyId}/associations/download(studyId=${study.Id})}"
               class="btn btn-default pull-right"
               role="button">Download SNPs to spreadsheet</a>

        </div>
    </div>
</div>


</body>
</html>