<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body th:fragment="association_elemets">

<div class="form-group" th:classappend="${#fields.hasErrors('pvalueMantissa')} ? 'has-error'">

    <label for="pvalueMantissa" class="control-label col-md-2">P-value mantissa</label>

    <div class="col-md-10">
        <input type="text" class="form-control" id="pvalueMantissa"
               th:field="*{pvalueMantissa}" name="pvalueMantissa"/>
        <span class="help-inline help-block" th:if="${#fields.hasErrors('pvalueMantissa')}" th:errors="*{pvalueMantissa}">Mantissa Error</span>
    </div>
</div>

<div class="form-group" th:classappend="${#fields.hasErrors('pvalueExponent')} ? 'has-error'">
    <label for="pvalueExponent" class="control-label col-md-2">P-value exponent</label>

    <div class="col-md-10">
        <input type="text" class="form-control" id="pvalueExponent"
               th:field="*{pvalueExponent}" placeholder="Exponent must &lt; -5" name="pvalueExponent"/>
        <span class="help-inline help-block" th:if="${#fields.hasErrors('pvalueExponent')}" th:errors="*{pvalueExponent}">Exponent Error</span>
    </div>
</div>


<div class="form-group">
    <label for="pvalueDescription" class="control-label col-md-2">P-value description</label>

    <div class="col-md-10">
        <input type="text" class="form-control" id="pvalueDescription"
               th:field="*{pvalueDescription}" name="pvalueDescription"/>
    </div>
</div>

<div class="form-group">
    <label for="EFOTrait" class="control-label col-md-2">EFO Trait:</label>

    <div class="col-md-10">
        <select name="efoTraits" th:field="*{efoTraits}"

                class="form-control select2-select"
                multiple="multiple" id="EFOTrait">
            <option th:each="efoTrait : ${efoTraits}"
                    th:value="${efoTrait.id}"
                    th:text="${efoTrait.trait}"></option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="snpType" class="control-label col-md-2">SNP type</label>

    <div class="col-md-10" id="snpType">
        <label class="radio-inline">
            <input type="radio" name="snpType" th:value="'novel'"
                   th:field="*{snpType}">novel</input>
        </label>
        <label class="radio-inline">
            <input type="radio" name="snpType" th:value="'known'"
                   th:field="*{snpType}">known</input>
        </label>
    </div>
</div>

</body>
</html>