<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body th:fragment="filter">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-md-offset-0 pull-left">
            <button class="btn btn-default"
                    id="filterButton"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseOptions"
                    aria-expanded="false"
                    aria-controls="collapseOptions">
                    <span class="glyphicon glyphicon-collapse-down"></span> Close filter options</button>
        </div>
    </div>
</div>
<br/>

<div class="collapse in" id="collapseOptions">
    <div class="container-fluid">
        <div class="row">
            <div class="well well-sm col-md-10 col-md-offset-1">

                <div id="studyTypesFilterParametersForm">
                    <br/>

                    <form class="form-inline" name="studyTypesFilterParametersForm" role="form" method="post"
                          th:action="@{/studies(filters=true)}"
                          th:object="${studySearchFilter} ">

                        <div class="form-group">
                            <label for="studyTypes" class="control-label"></label>
                            <select name="studyTypes" class="form-control  select2-select"
                                    th:field="*{studyType}" id="studyTypes">
                                <!-- Empty value for first entry-->
                                <option value=""></option>
                                <option th:each="studyType : ${studyTypes}"
                                        th:value="${studyType}"
                                        th:text="${studyType}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div>
                                <button type="submit"
                                        class="btn btn-primary btn-sm"
                                        data-toggle="tooltip"
                                        data-placement="right"
                                        title="Filter for GXE, GXG, CNV, p-Value Set, multi-SNP haplotype and SNP interaction studies, as well as studies in curation queue
                                        studies with errors">Filter by study type</button>
                            </div>
                        </div>
                    </form>
                </div>

                <br/>

                <div id="curatorFilterParametersForm">

                    <form class="form-inline" name="curatorFilterParametersForm" role="form" method="post"
                          th:action="@{/studies(filters=true)}"
                          th:object="${studySearchFilter} ">

                        <div class="form-group">
                            <label for="curationStatus" class="control-label"></label>
                            <select name="curationStatus" class="form-control select2-select"
                                    th:field="*{statusSearchFilterId}" id="curationStatus">
                                <!-- Empty value for first entry-->
                                <option value=""></option>
                                <option th:each="curationStatus : ${curationstatuses}"
                                        th:value="${curationStatus.id}"
                                        th:text="${curationStatus.status}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="curator" class="control-label"></label>
                            <select name="curator" th:field="*{curatorSearchFilterId}"
                                    class="form-control select2-select" id="curator">
                                <!-- Empty value for first entry-->
                                <option value=""></option>
                                <option th:each="curator : ${curators}"
                                        th:value="${curator.id}"
                                        th:text="${curator.lastName}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div>
                                    <button type="submit"
                                            class="btn btn-primary btn-sm">Filter by curator and/or status</button>
                            </div>
                        </div>
                    </form>
                </div>

                <br/>

                <div id="authorFilterParametersForm">

                    <form class="form-inline" name="efoTraitsFilterParametersForm" role="form" method="post"
                          th:action="@{/studies(filters=true)}"
                          th:object="${studySearchFilter} ">

                        <div class="form-group">
                            <label for="authors" class="control-label"></label>
                            <select name="authors" class="form-control select2-select"
                                    th:field="*{author}" id="authors">
                                <!-- Empty value for first entry-->
                                <option value=""></option>
                                <option th:each="author : ${authors}"
                                        th:value="${author}"
                                        th:text="${author}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div>
                                <button type="submit" class="btn btn-primary btn-sm">Filter by author</button>
                            </div>
                        </div>
                    </form>
                </div>

                <br/>


                <div id="efoTraitsFilterParametersForm">

                    <form class="form-inline" name="efoTraitsFilterParametersForm" role="form" method="post"
                          th:action="@{/studies(filters=true)}"
                          th:object="${studySearchFilter} ">

                        <div class="form-group">
                            <label for="efoTraits" class="control-label"></label>
                            <select name="efoTraits" class="form-control select2-select"
                                    th:field="*{efoTraitSearchFilterId}" id="efoTraits">
                                <!-- Empty value for first entry-->
                                <option value=""></option>
                                <option th:each="efoTrait : ${efoTraits}"
                                        th:value="${efoTrait.id}"
                                        th:text="${efoTrait.trait}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div>
                                <button type="submit" class="btn btn-primary btn-sm">Filter by EFO trait</button>
                            </div>
                        </div>
                    </form>
                </div>

                <br/>


                <div id="diseaseTraitsFilterParametersForm">

                    <form class="form-inline" name="diseaseTraitsFilterParametersForm" role="form" method="post"
                          th:action="@{/studies(filters=true)}"
                          th:object="${studySearchFilter} ">

                        <div class="form-group">
                            <label for="diseaseTraits" class="control-label"></label>
                            <select name="diseaseTraits" class="form-control select2-select"
                                    th:field="*{diseaseTraitSearchFilterId}" id="diseaseTraits">
                                <!-- Empty value for first entry-->
                                <option value=""></option>
                                <option th:each="diseaseTrait : ${diseaseTraits}"
                                        th:value="${diseaseTrait.id}"
                                        th:text="${diseaseTrait.trait}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div>
                                <button type="submit" class="btn btn-primary btn-sm">Filter by disease trait</button>
                            </div>
                        </div>
                    </form>
                </div>


                <br/>

                <div class="row">
                    <div id="pubmedFilterParametersForm">

                        <form class="form-inline" name="pubmedFilterParametersForm" role="form" method="post"
                              th:action="@{/studies(filters=true)}"
                              th:object="${studySearchFilter}">

                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control"
                                           th:field="*{pubmedId}"
                                           placeholder="Search for..."/>
                                    <span class="input-group-btn">
                                    <button class="btn btn-primary btn-sm"
                                            type="submit">Search by pubmed ID</button></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <br/>

                <div class="row">
                    <div id="notesFilterParametersForm">
                        <form class="form-inline" name="notesFilterParametersForm" role="form" method="post"
                              th:action="@{/studies(filters=true)}"
                              th:object="${studySearchFilter}">

                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control"
                                           th:field="*{notesQuery}"
                                           placeholder="Search for..."/>
                                    <span class="input-group-btn">
                                    <button class="btn btn-primary btn-sm" type="submit">Search notes</button></span>
                                </div>
                            </div>
                            <br/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#collapseOptions").on("hide.bs.collapse", function() {
            $("#filterButton").html('<span class="glyphicon glyphicon-collapse-down"></span> Open filter options');
        });
        $("#collapseOptions").on("show.bs.collapse", function() {
            $("#filterButton").html('<span class="glyphicon glyphicon-collapse-up"></span> Close filter options');
        });
    });
</script>


<script>
    $(function() {
        // turn the element to select2 select style
        $('#curationStatus').select2({
                                         placeholder: "Select a status",
                                         allowClear: true
                                     });
    });
</script>

<script>
    $(function() {
        // turn the element to select2 select style
        $('#curator').select2({
                                  placeholder: "Select a curator",
                                  allowClear: true
                              });
    });
</script>
<script>
    $(function() {
        // turn the element to select2 select style
        $('#studyTypes').select2({
                                     placeholder: "Select GXE, studies with errors...",
                                     allowClear: true
                                 });
    });
</script>

<script>
    $(function() {
        // turn the element to select2 select style
        $('#efoTraits').select2({
                                    placeholder: "Select EFO trait..",
                                    allowClear: true
                                });
    });
</script>

<script>
    $(function() {
        // turn the element to select2 select style
        $('#diseaseTraits').select2({
                                        placeholder: "Select disease trait..",
                                        allowClear: true
                                    });
    });
</script>

<script>
    $(function() {
        // turn the element to select2 select style
        $('#authors').select2({
                                  placeholder: "Select author..",
                                  allowClear: true
                              });
    });
</script>

<script>$(function() {
    $('[data-toggle="tooltip"]').tooltip()
})</script>
</body>
</html>