/*.navbar-brand{*/
    /*transform: scale(0.8, 0.8);*/
/*}*/

/*.ebiLogo{*/
    /*transform: scale(0.8, 0.8);*/
/*}*/

/*.nhgriLogo{*/
    /*transform: scale(0.3, 0.3);*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*.nav > li > a > .icon{*/
    /*padding-bottom: 0;*/
    /*padding-top: 0;*/
/*}*/

/*.gwasthumb{*/
    /*display: inline-block;*/
    /*transform: scale(0.2, 0.2);*/
/*}*/

#imaginary_container{
    margin-top:5%;
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}


/*#lower_container{*/
    /*margin-top:5%;*/
/*}*/

#center_container{
    margin-left: 10%;
    margin-right: auto;
}

.global_title {
   text-align: center;
    margin-left: auto;
    margin-right: auto;
}



.filter-element {
    display: inline-block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.filter-label{
    display: inline-block;
    width: 30%  ;
    margin-left: 0;
    margin-right: 0;
}

.filter-values{
    display: inline-block;
    width: 68%;
    margin-left: 0;
    margin-right: 0;
}

.from-element{
    display: inline-block;
    width: 45%  ;
    margin-left: 0;
    margin-right: 0;
}

.to-element{
    display: inline-block;
    width: 45%   ;
    margin-left: 0;
    margin-right: 0;
}

.date-label{
    display: inline-block;
    width: 22%  ;
    margin-left: 0;
    margin-right: 0;
}

.date-values{
    display: inline-block;
    width: 76%;
    margin-left: 0;
    margin-right: 0;
}

.from-date{
    display: inline-block;
    width: 45%  ;
    margin-left: 0;
    margin-right: 0;

}

.to-date{
    display: inline-block;
    width: 45%   ;
    margin-left: 15px;
    margin-right: 0;
}


.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.row {
    margin-top: 40px;
    padding: 0 10px;
}
.clickable {
    cursor: pointer;
}