.color-primary {
    color: #669CFF !important;
}

.color-primary-accent {
    color: #ABC9FF !important;
}

.color-primary-bold {
    color: #2150A6 !important;
}

.background-color-primary {
    background-color: #669CFF !important;
}

.background-color-primary-accent {
    background-color: #ABC9FF !important;
}

.background-color-primary-bold {
    background-color: #2150A6 !important;
}

.color-secondary {
    color: #876AFF !important;
}

.color-secondary-accent {
    color: #BDADFF !important;
}

.color-secondary-bold {
    color: #3C22A6 !important;
}

.background-color-secondary {
    background-color: #876AFF !important;
}

.background-color-secondary-accent {
    background-color: #BDADFF !important;
}

.background-color-secondary-bold {
    background-color: #3C22A6 !important;
}

.color-complementary {
    color: #FFC456 !important;
}

.color-complementary-accent {
    color: #FFDEA2 !important;
}

.color-complementary-bold {
    color: #A6751C !important;
}

.background-color-complementary {
    background-color: #FFC456 !important;
}

.background-color-complementary-accent {
    background-color: #FFDEA2 !important;
}

.background-color-complementary-bold {
    background-color: #A6751C !important;
}

a {
    color: #3C22A6;
}

a:hover {
    color: #2150A6;
}

.list-group-item:hover {
    background-color: #ABC9FF !important;
}

.btn:hover {
    background-color: #669CFF !important;
}

.sup-new {
    position: relative;
    bottom: 1.7em;
    color: #a94442;
    font-size: 30%;
    background: #FFDEA2;
    border-radius: 50px;
}

.ribbon {
    margin: 10px auto;
    border-radius: 10px;
    position: relative;
    z-index: 90;
}

.ribbon:after {
    content: attr(data-ribbon);
    position: absolute;
    width: 200px;
    color: white;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    background-color: darkred;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8B0000));
    background-image: -webkit-linear-gradient(top, #a94442, #8B0000);
    background-image:    -moz-linear-gradient(top, #a94442, #8B0000);
    background-image:     -ms-linear-gradient(top, #a94442, #8B0000);
    background-image:      -o-linear-gradient(top, #a94442, #8B0000);
    top: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    display: block;
    left: -70px;
}

.ribbon-page {
    border-radius: 10px;
    position: relative;
    z-index: 90;
}

.ribbon-page:after {
    content: attr(data-ribbon);
    position: absolute;
    width: 160px;
    color: white;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    background-color: darkred;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8B0000));
    background-image: -webkit-linear-gradient(top, #a94442, #8B0000);
    background-image:    -moz-linear-gradient(top, #a94442, #8B0000);
    background-image:     -ms-linear-gradient(top, #a94442, #8B0000);
    background-image:      -o-linear-gradient(top, #a94442, #8B0000);
    top: 0px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    display: block;
    left: -50px;
}