.icon-trait {
    height: 18px;
    width: 18px;
    background-image: url(../images/icon-trait-bg_30x405.png);
    float: left;
    margin-top: -0.1em;
    margin-right: 0.3em;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}

.icon-trait-haemo-measure {
    background-position: -7px -6px;
}

.icon-trait-neuro {
    background-position: -7px -29px;
}

.icon-trait-process {
    background-position: -7px -52px;
}

.icon-trait-cardio-measure {
    background-position: -7px -74px;
}

.icon-trait-other {
    background-position: -7px -96px;
}

.icon-trait-metabolic {
    background-position: -7px -119px;
}

.icon-trait-drug {
    background-position: -7px -141px;
}

.icon-trait-body-measure {
    background-position: -7px -164px;
}

.icon-trait-disease {
    background-position: -7px -187px;
}

.icon-trait-neoplasm {
    background-position: -7px -209px;
}

.icon-trait-immune {
    background-position: -7px -231px;
}

.icon-trait-measure {
    background-position: -7px -253px;
}

.icon-trait-liver-measure {
    background-position: -7px -275px;
}

.icon-trait-lipid-measure {
    background-position: -7px -298px;
}

.icon-trait-inflam-measure {
    background-position: -7px -321px;
}

.icon-trait-digestive {
    background-position: -7px -343px;
}

.icon-trait-cardio {
    background-position: -7px -366px;
}

.icon-trait-unmapped {
    background-position: -7px -389px;
}

/*.zoombar {*/
    /*position: absolute;*/
    /*top: 100px;*/
    /*left: 55px;*/
    /*z-index: 100;*/
/*}*/

#tooltip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 5px;
    width: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.4;
    filter: alpha(opacity=0);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}


circle[fading="false"] {
    cursor: pointer;
}

circle[fading="true"]{
    cursor: default;
}

/*#traitpopup table {*/
    /*table-layout: fixed;*/
    /*border-collapse: collapse;*/
    /*border-style: hidden;*/
    /*width: 100%;*/
/*}*/

/*#traitpopup th {*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*padding: 8px;*/

/*}*/

/*#traitpopup td {*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*padding: 5px;*/
/*}*/

/*#traitpopup td.center {*/
    /*text-align: center;*/
/*}*/