<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Search Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css" th:href="@{css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../static/css/bootstrap-table.css" th:href="@{css/bootstrap-table.min.css}"/>
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>-->
    <!--<link rel="stylesheet" href="/css/bootstrap-theme.min.css" th:href="@{css/bootstrap-theme.min.css}"/>-->
    <!--<link rel="stylesheet" href="/css/bootstrap-table.css" th:href="@{css/bootstrap-table.css}"/>-->
    <link rel="stylesheet" th:href="@{css/goci-ui.css}"/>
    <link rel="stylesheet" th:href="@{/css/icons/flaticon.css}"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../static/js/goci-ui.js" th:src="@{js/goci-ui.js}"></script>


</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand"> <img alt="GWAS logo" src="../static/icons/GWASBrowser_logo_whitebackground-scaled.png" th:src="@{icons/GWASBrowser_logo_whitebackground-scaled.png}" /></a>
            <!--<a href="#" class="navbar-brand">GWAS logo</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="home">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="search">Search the catalog</a></li>
                <li><a href="about">About</a></li>
                <li><a href="downloads">Downloads</a></li>
                <li><a href="ontology">Ontology</a></li>
                <li><a href="methods">Methods</a></li>
                <li><a href="faq">FAQ</a></li>
                <li><a href="http://www.ebi.ac.uk/fgpt/gwas">GWAS Diagram</a></li>
                <li><a class="icon" href="http://www.ebi.ac.uk"><img alt="EBI logo" src="../static/icons/EMBL_EBI_Logo_white_scaled.png" /></a></li>
                <li><a class="icon" href="http://www.genome.gov"><img alt="GWAS logo" src="../static/icons/NHGRI_NIH%20logo%20all%20verions-02-scaled.png" /></a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>




<div class="container-fluid">

    <!--<ol class="breadcrumb">-->
        <!--<li><a href="#">GWAS</a></li>-->
        <!--<li class="active">Home</li>-->
    <!--</ol>-->

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="global_title">GWAS Catalog</h1>
            <h3 class="global_title">A Catalog of Published Genome-Wide Association Studies</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="imaginary_container">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search the catalog" id="search-box">
                         <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="search-button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                        </span>
                    </input>
                </div><!-- /input-group -->
                <div class="examples">
                    Examples:
                    <a href="/search?query=breast%20cancer">breast cancer</a>,
                    <a href="/search?query=rs7329174">rs7329174</a>,
                    <a href="/search?query=Yang">Yang</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="lower_container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2 class="flaticon-information9">About</h2>
            <p>The GWAS Catalog provides a manually curated, literature-derived collection of all published genome wide associations studies [...] </p>
            <p><a class="btn btn-default" href="about" role="button">To the page »</a></p>
        </div>
        <div class="col-md-4">
            <h2 class="flaticon-search11">Search the catalog</h2>
            <p>You can search the catalog in a number of ways, including by trait, SNP identifier, study and gene.  </p>
            <p><a class="btn btn-default" href="search" role="button">To the page »</a></p>
        </div>
        <div class="col-md-4">
            <!--<img class="gwasthumb" alt="GWAS logo2" src="/icons/GWASBrowser_logo_icon_greyscale_withoutcircle.svg" />-->
            <h2>GWAS diagram</h2>
            <p>An interactive visualisation of all SNP-trait associations with genome-wide significance (p&lt;5E-8). </p>
            <p><a class="btn btn-default" href="http://www.ebi.ac.uk/fgpt/gwas" role="button">To the page »</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2 class="flaticon-mailbox2">Downloads</h2>
            <p>Including a full copy of the GWAS Catalog in spreadsheet format.</p>
            <p><a class="btn btn-default" href="downloads" role="button">To the page »</a></p>
        </div>
        <div class="col-md-4">
            <h2 class="flaticon-owl3">Ontology</h2>
            <p>Details of the ontology representation of GWAS Catalog traits.</p>
            <p><a class="btn btn-default" href="ontology" role="button">To the page »</a></p>
        </div>
        <div class="col-md-4">
            <h2 class="flaticon-statistics">Methods</h2>
            <p>A full description of the Catalog eligibility criteria and methods.</p>
            <p><a class="btn btn-default" href="methods" role="button">To the page »</a></p>
        </div>
    </div>


</div>


</body>
</html>