<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Search Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" th:href="@{css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="/css/bootstrap-table.css" th:href="@{css/bootstrap-table.css}"/>
    <link rel="stylesheet" href="/css/goci-ui.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/goci-ui.js"></script>


</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand"> <img alt="GWAS logo" src="/icons/GWASBrowser_logo_whitebackground-scaled.png" /></a>
            <!--<a href="http://www.genome.gov/gwastudies/" class="navbar-brand">GWAS Logo</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="home">Home</a></li>
                <li><a href="search">Search the catalog</a></li>
                <li><a href="about">About</a></li>
                <li><a href="downloads">Downloads</a></li>
                <li><a href="ontology">Ontology</a></li>
                <li class="active"><a href="methods">Methods<span class="sr-only">(current)</span></a></li>
                <li><a href="faq">FAQ</a></li>
                <li><a href="http://www.ebi.ac.uk/fgpt/gwas">GWAS Diagram</a></li>
                <li><a class="ebiLogo" href="http://www.ebi.ac.uk"><img alt="EBI logo" src="/icons/EMBL_EBI_Logo_white_scaled.png" /></a></li>
                <li><a class="nhgriLogo" href="http://www.genome.gov"><img alt="GWAS logo" src="/icons/NHGRI_NIH logo all verions-02-scaled.png" /></a></li>
            </ul>



        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="home">GWAS</a></li>
        <li class="active">Methods</li>
    </ol>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="global_title">GWAS Catalog</h1>
            <h3 class="global_title">A Catalog of Published Genome-Wide Association Studies</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="imaginary_container">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search the catalog" id="search-box">
                         <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="search-button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                        </span>
                    </input>
                </div><!-- /input-group -->
                <div class="examples">
                    Examples:
                    <a href="/search?query=breast%20cancer">breast cancer</a>,
                    <a href="/search?query=rs7329174">rs7329174</a>,
                    <a href="/search?query=Yang">Yang</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="lower_container">
    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <h3>Methods</h3>
            <p>This is how it's done</p>
        </div>
    </div>
</div>
</body>
</html>
