<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="The NHGRI-EBI GWAS Catalog: a curated collection of all published genome-wide association studies, produced by a collaboration between EMBL-EBI and NHGRI"/>
    <meta name="keywords" content="GWAS Catalog, GWAS, NHGRI, EBI, EMBL-EBI, SPOT"/>
    <meta name="author" content="Tony Burdett, Emma Hastings, Dani Welter, SPOT, EMBL-EBI, NHGRI"/>
    <link rel="icon" href="../static/images/favicon.ico" th:href="@{images/favicon.ico}"/>

    <title>GWAS Catalog</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    <link href="../static/css/bootstrap-table.css" th:href="@{/css/bootstrap-table.css}" rel="stylesheet"/>
    <link href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="../static/css/jumbotron.css" th:href="@{/css/jumbotron.css}" rel="stylesheet"/>
    <link href="../static/css/sticky-footer-navbar.css" th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet"/>

    <!-- Additional styling on top of bootstrap -->
    <link rel="stylesheet" href="../static/css/goci-ui.css" th:href="@{/css/goci-ui.css}"/>
    <link rel="stylesheet" href="../static/css/icons/flaticon.css" th:href="@{/css/icons/flaticon.css}"/>
    <link rel="stylesheet" href="../static/css/goci-color-palette-1.css" th:href="@{/css/goci-color-palette-1.css}"/>



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" th:href="@{/home}">GWAS Catalog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html" th:href="@{/home}">Home <span class="sr-only">(/current)</span></a></li>
                <li><a href="search.html" th:href="@{/search}">Search</a></li>
                <li><a href="http://www.ebi.ac.uk/fgpt/gwas">Diagram</a></li>
                <li class="hidden-sm"><a href="docs/downloads" th:href="@{/docs/downloads}">Download</a></li>
                <li><a href="docs" th:href="@{docs}">Help</a></li>
                <li class="hidden-sm"><a href="docs/about" th:href="@{/docs/about}">About</a></li>

                <li>
                    <a class="icon" id="ebi-logo" href="http://www.ebi.ac.uk">
                        <img alt="EBI logo"
                             src="../static/icons/EMBL_EBI_Logo_white.png"
                             th:src="@{/icons/EMBL_EBI_Logo_white.png}"/>
                    </a>
                </li>
                <li>
                    <a class="icon" id="nhgri-logo" href="http://www.genome.gov">
                        <img alt="GWAS logo"
                             src="../static/icons/NHGRI_NIH%20logo%20all%20verions-02-scaled.png"
                             th:src="@{/icons/NHGRI_NIH%20logo%20all%20verions-02-scaled.png}"/>
                    </a>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
    <div class="navbar-bottom-banner-1 background-color-complementary">
    </div>
    <div class="navbar-bottom-banner-2 background-color-primary-bold">
    </div>
    <div class="navbar-bottom-banner-3 background-color-primary">
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron background-color-primary-accent" style="margin: 0%; padding-bottom: 30px;">
    <div class="container">
        <!-- search box goes here -->
        <div class="input-group" style="width: 250px; float: right;">
            <input type="text" class="form-control" placeholder="Search the catalog" id="search-box"/>
            <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="search-button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
        </div>

    </div>
    <div class="container">

        <h2><img alt="externalLink" style="width: 1em; height: auto;" src="../static/icons/dna13.png" th:src="@{/icons/dna13.png}"/><span style="padding-left:5px">SNP: </span><span th:text="${rsId}"></span></h2>

    </div>
</div>



<div class="container-fluid" style="padding-top: 30px">

    <ol class="breadcrumb background-color-complementary-accent">
        <li><a href="index.html" th:href="@{/home}">GWAS</a></li>
        <li><a href="search.html" th:href="@{/search}">SNPs</a></li>
        <li class="active" th:text="${rsId}"></li>
    </ol>


    <div style="display: none">
        <ul th:object="${result}" id="variables">
            <li id="query" th:text="*{query}">User query</li>
            <li id="facet" th:text="*{facet}">Facet</li>
            <li id="filter" th:text="*{filter}">Disease trait</li>
        </ul>
    </div>

    <div class="container-fluid" id="lower_container">
        <div class="row" style="margin-top:10px">
            <div class="clearfix">
                <div id="summary-info" class="col-lg-8 col-md-7 col-sm-7 col-xs-7" style="padding-left:0px">
                    <div class="panel panel-default">
                        <div class="panel-heading background-color-primary-accent">
                            <h3 class="panel-title">SNP information</h3>
                        </div>
                        <div class="panel-body">
                            <div class="clearfix">
                                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6" style="font-weight: bold; margin-bottom: 1em;padding-left:0px">Base pair location</div>
                                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6" id="snpLocation">-</div>
                            </div>
                            <div class="clearfix">
                                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6" style="font-weight: bold; margin-bottom: 1em;padding-left:0px">Cytogenetic region</div>
                                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6" id="snpRegion">-</div>
                            </div>
                            <div class="clearfix">
                                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6" style="font-weight: bold; margin-bottom: 1em;padding-left:0px">Functional class</div>
                                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6"><span class="tag tag-info" id="snpClass"></span></div>
                            </div>
                            <div class="clearfix">
                                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6" style="font-weight: bold; margin-bottom: 1em;padding-left:0px">Reported gene(s)</div>
                                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6" id="snpReportedGenes"></div>
                            </div>
                            <div class="clearfix">
                                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6" style="font-weight: bold; margin-bottom: 1em;padding-left:0px">Mapped gene(s)</div>
                                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6" id="snpMappedGenes"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="links" class="col-lg-2 col-md-3 col-sm-4 col-xs-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1" style="padding-right:0px">
                    <div class="panel panel-default">
                        <div class="panel-heading background-color-primary-accent">
                            <h3 class="panel-title">External links</h3>
                        </div>
                        <div class="panel-body">
                            <div style="margin-bottom: 1em">
                                <button type="button" class="btn btn-default" id="ensembl_button">View in Ensembl</button>
                            </div>
                            <!--<div style="margin-bottom: 1em"><button type="button" class="btn btn-default" id="dbgap_button">View in dbGap</button>
                            </div>-->
                            <div style="margin-bottom: 1em"><button type="button" class="btn btn-default" id="dbsnp_button">View in dbSNP</button></div>

                        </div>
                    </div>
                </div>
            </div>


            <!-- Associations table -->
            <div id="associations_panel" class="panel panel-default">
                <div class="panel-heading background-color-primary-accent">
                    <h3 class="panel-title">
                        <span id="association_label">Associations</span><span id="association_count" class="badge" style="background-color: #398A96;margin-left:10px"></span>
                    </h3>

                    <span class="pull-right clickable" onclick="toggleSidebar('#associations_panel span.clickable')">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </span>
                </div>

                <div class="panel-body">
                    <button type="button" id="expand-table" class="btn btn-default btn-sm pull-right table-collapsed" onclick="">Expand all associations  </button>

                    <table id="association-table" class="table table-striped">
                        <thead id="association-table-header">
                        <tr>
                            <th style="width: 10%" id="strongestAllele">Risk allele
                                <span class="glyphicon glyphicon-question-sign context-help" data-toggle="tooltip" data-original-title="SNP most strongly associated with trait + risk/effect allele. This may also be haplotype or SNPxSNP interaction."></span>
                                                                        <!--<span class="glyphicon glyphicon-sort clickable sorting unsorted"> </span>-->
                            </th>
                            <th style="width: 8%" id="riskFrequency">RAF
                                <span class="glyphicon glyphicon-question-sign context-help" data-toggle="tooltip" data-original-title="Risk/effect allele frequency in controls"></span>
                                <span class="glyphicon glyphicon-sort clickable sorting unsorted"> </span>
                            </th>
                            <th style="width: 12%" id="pValue">p-value
                                <span class="glyphicon glyphicon-question-sign context-help" data-toggle="tooltip" data-original-title="p-value for most strongly associated SNP, along with any information describing context of p-value"></span>
                                <span class="glyphicon glyphicon-sort clickable sorting unsorted"> </span>
                            </th>
                            <th style="width: 6%" id="orPerCopyNum">OR
                                <span class="glyphicon glyphicon-question-sign context-help" data-toggle="tooltip" data-original-title="Odds ratio associated with SNP"></span>
                                <span class="glyphicon glyphicon-sort clickable sorting unsorted"> </span>
                            </th>
                            <th style="width: 14%" id="orType">Beta
                                <span class="glyphicon glyphicon-question-sign context-help" data-toggle="tooltip" data-original-title="Beta-coefficient and unit increase/decrease associated with SNP"></span>
                                <span class="glyphicon glyphicon-sort clickable sorting unsorted"> </span>
                            </th>
                            <th style="width: 6%">CI
                                <span class="glyphicon glyphicon-question-sign context-help" data-toggle="tooltip" data-original-title="95% confidence interval for OR or beta"></span>
                            </th>

                            <th style="width: 8%">Reported gene(s)
                                <span class="glyphicon glyphicon-question-sign context-help" data-toggle="tooltip" data-original-title="Gene(s) reported by author"></span>
                            </th>

                            <th style="width: 13%" id="traitName_s-alt">Reported trait
                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-original-title="Description of disease/trait analysed in the study"></span>
                                <span class="glyphicon glyphicon-sort clickable sorting unsorted"> </span>
                            </th>
                            <th style="width: 13%" id="traitName-alt">Mapped trait
                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-original-title="Description of disease/trait mapped to the study"></span>
                                <span class="glyphicon glyphicon-sort clickable sorting unsorted"> </span>
                            </th>
                            <th style="width: 15%" id="author_s-alt" colspan="2">Study
                                <span class="glyphicon glyphicon-question-sign context-help" data-toggle="tooltip" data-original-title="First author and year of publication, along with link to publication in Europe PubMed Central."></span>
                                <span class="glyphicon glyphicon-sort clickable sorting unsorted"> </span>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="association-table-body"></tbody>
                    </table>
                </div>
            </div>


            <!-- Diseases/traits table -->
            <div class="row">
                <div id="diseasetrait_panel" class="panel panel-default">
                    <div class="panel-heading background-color-primary-accent">
                        <h3 class="panel-title">
                            <span id="diseasetrait_label">Traits</span><span id="diseasetrait_count" class="badge" style="background-color: #398A96;margin-left:10px"></span>
                        </h3>
                        <span class="pull-right clickable" onclick="toggleSidebar('#diseasetrait_panel span.clickable')">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </span>
                    </div>

                    <div class="panel-body">
                        <table id="diseasetrait-table" class="table table-striped">
                            <thead id="diseasetrait-table-header">
                            <tr>
                                <th style="width: 25%" id="traitName_s-alt2">Reported trait
                                    <span class="glyphicon glyphicon-question-sign context-help" data-toggle="tooltip" data-original-title="Description of disease/trait analysed in the study"></span>
                                    <span class="glyphicon glyphicon-sort clickable sorting unsorted"> </span>
                                </th>
                                <th style="width: 25%">Mapped ontology traits
                                    <span class="glyphicon glyphicon-question-sign context-help" data-toggle="tooltip" data-original-title="Mapped Experimental Factor Ontology disease or trait name"></span>
                                </th>
                                <th style="width: 35%">Ontology traits synonyms
                                    <span class="glyphicon glyphicon-question-sign context-help" data-toggle="tooltip" data-original-title="An alternative Experimental Factor Ontology for a given term such as a commonly used abbreviation or synonym"></span>
                                </th>
                                <th style="width: 15%">Study
                                    <span class="glyphicon glyphicon-question-sign context-help" data-toggle="tooltip" data-original-title="First author and year of publication, along with link to publication in Europe PubMed Central."></span>
                                </th>
                            </tr>
                            </thead>
                            <tbody id="diseasetrait-table-body"></tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!-- LD widget -->
            <div class="row">
                <div class="panel panel-default">
                    <div id="ld_panel" class="panel-heading background-color-primary-accent">
                        <h3 class="panel-title">Linkage disequilibrium - <span style="color:red;font-weight:bold">functionality to be implemented!</span></h3>
                        <span class="pull-right clickable" onclick="toggleSidebar('#ld_panel span.clickable')">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </span>
                    </div>

                    <div class="panel-body">
                        <div>
                            <span>Population
                                <select name="select" id="ld-population-selection">
                                    <option value="0">---</option>
                                </select>
                            </span>
                            <span style="padding-left:40px">r<sup>2</sup> threshold
                                <select name="select">
                                    <option value="">---</option>
                                    <option value="1">1</option>
                                    <option value="0.9">0.9</option>
                                    <option value="0.8" selected="selected">0.8</option>
                                    <option value="0.7">0.7</option>
                                    <option value="0.6">0.6</option>
                                </select>
                            </span>
                        </div>
                        <div style="margin:15px 5px 5px;padding:8px 4px;width: 400px;text-align:center;border:2px solid #006dcc">** Place the LD widget here **</div>
                    </div>
                </div>
            </div>

            <hr/>

        </div>
      </div>

        <!-- /container -->

        <footer class="footer background-color-primary-accent">
            <!--<div class="footer-banner background-color-primary"></div>-->
            <div class="container">
                <p class="text-muted">Copyright &copy; EMBL-EBI 2015 | EMBL-EBI is an Outstation of the
                    <a href="http://www.embl.org">European Molecular
                                                  Biology
                                                  Laboratory</a> |
                    <a href="//www.ebi.ac.uk/about/privacy">Privacy</a> |
                    <a href="//www.ebi.ac.uk/about/cookies">Cookies</a> |
                    <a href="//www.ebi.ac.uk/about/terms-of-use">Terms of use</a></p>
            </div>
        </footer>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../static/js/ie10-viewport-bug-workaround.js" th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>

        <!-- GOCI JavaScript
        ================================================== -->
        <script src="../static/js/goci-ui.js" th:src="@{/js/goci-ui.js}"></script>
        <script src="../static/js/snpresult.js" th:src="@{/js/snpresult.js}"></script>
        <!--<script type="javascript">
            window.onload = function() {
              getSnpData();
            };
        </script>-->

        <!-- Google analytics
        ================================================== -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-60195133-1', 'auto');
            ga('send', 'pageview');

        </script>
</div>
</body>
</html>
