/*Conan 2 CSS Rules
*
* These rules mostly extend and tailor certain aspects of custom jQuery UI CSS to fit the look and feel for Conan.  You
* should be able to replace the default jQuery UI CSS with your own personalised theme (roll your own at
* http://jqueryui.com/themeroller/), and this should be incorporated seamlessly into Conan, provided you don't edit the
* settings in this file.
*
* This CSS file also declares required classes for the jCarousel and datatables jQuery plugins
*/

.clickable {
    cursor: pointer;
}

table p {
    margin-top: 0
}

.goci-intro {
    padding-bottom: 1em;
}

.goci-publications-panel {
    width: 98%;
    height: 190px;
    position: absolute;
}

.goci-submission-element-container {
    margin-left: 2px;
    margin-right: 2px;
}

.goci-sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

.goci-sortable li {
    margin: 0 5px 5px 5px;
    padding: 0.4em 0.4em 0.4em 1.5em;
    height: 14px;
}

.goci-sortable li span {
    position: absolute;
    margin-left: -1.3em;
}

.goci-details {
    padding: 10px 10px 0 10px;
}

.goci-table-wrapper {
    height: 295px;
}

/* goci-details table styling and ordering elements */
table.goci-details-table {
    border-spacing: 0;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}

table.goci-details-table tbody tr td {
    padding: 4px;
    vertical-align: top;
}

.goci-summary-header {
    width: 200px;
    font-weight: bold;
    display: inline-block;
}

.goci-search-buttons {
    text-align: right;
    margin-bottom: 5px;
}

/* goci-details table background color for row striping */
/* NOTE: this is the only place that Goci explicitly declares a color, everywhere else jQuery UI themes are used */
table.goci-details-table tbody tr.even {
    background-color: #EEF5F5;
}

/* tailoring jQuery default elements for specific Conan layout */
.ui-widget input, .ui-widget-content input, .ui-widget textarea, .ui-widget-content textarea {
    border-style: inset;
}

.ui-button .ui-button-text {
    font-weight: bold;
}

th.ui-button {
    font-weight: bold;
    display: table-cell;
    padding: 4px;
    text-align: left;
}

th.ui-button-text-only .ui-button-text {
    padding: 0;
}

th.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
    font-weight: bold;
}

th.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
    font-weight: bold;
}

th.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {
    font-weight: bold;
}

th.ui-button-text-icons .ui-button-text {
    font-weight: bold;
}

/* tailoring datatables jQuery plugin to extend jQuery UI CSS */
.sorting .goci-sort-icon {
    background-position: -128px -16px;
}

.sorting_asc .goci-sort-icon {
    background-position: 0 -16px;
}

.sorting_desc .goci-sort-icon {
    background-position: -64px -16px;
}

.dataTables_filter, .dataTables_calendar {
    text-align: right;
    margin-bottom: 5px;
}

.dataTables_filter input, .dataTables_calendar input {
    background-color: #FFFFFF;
    padding-right: 20px;
    position: relative;
}

.dataTables_filter span, .dataTables_calendar span {
    display: inline-block;
    position: relative;
    right: 18px;
    margin-right: -15px;
    top: 3px;
}

.dataTables_info {
    float: left;
}

.paging_full_numbers {
    float: right;
}

.paging_full_numbers span.paginate_button {
    text-decoration: underline;
    margin: 0 3px;
    padding: 2px 5px;
}

.paging_full_numbers span.paginate_active {
    font-weight: bold;
    margin: 0 3px;
    padding: 2px 5px;
}

.paginate_button {
    cursor: pointer;
}

.paginate_disabled_previous {
    cursor: default;
    opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity = 50);
}

.paginate_disabled_next {
    cursor: default;
    opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity = 50);
}

/* Required CSS elements for jcarousel */
.jcarousel-container-vertical {
    width: 400px;
    height: 60px;
}

.jcarousel-clip-vertical {
    top: 15px;
    width: 378px;
    height: 30px;
    z-index: 20;
}

.jcarousel-item-vertical, .jcarousel-item-placeholder-vertical {
    width: 370px;
    height: auto;
    margin: 5px 0;
}

.jcarousel-next-vertical {
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 378px;
    height: 14px;
    cursor: pointer;
}

.jcarousel-next-disabled-vertical {
    cursor: default;
    opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity = 50);
}

.jcarousel-prev-vertical {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 378px;
    height: 14px;
    cursor: pointer;
}

.jcarousel-prev-disabled-vertical {
    cursor: default;
    opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity = 50);
}

.loading {
}
