<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p (%F:%L) - %m%n" />
        </layout>
    </appender>

    <appender name="goci-log" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="File" value="goci.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d] %-5p (%F:%L) - %m%n" />
        </layout>
    </appender>

    <appender name="snp-log" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="File" value="snp-mapping-problems.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>

    <appender name="trait-log" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="File" value="trait-mapping-problems.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>

    <logger name="org.springframework" additivity="false">
        <level value="WARN" />
        <appender-ref ref="console" />
    </logger>

    <logger name="uk.ac.ebi.spot.goci.service.DefaultGwasOwlPublisher" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="goci-log" />
    </logger>

    <logger name="uk.ac.ebi.spot.goci.service.DefaultGwasOwlConverter" additivity="false">
        <level value="TRACE" />
        <appender-ref ref="goci-log" />
    </logger>

    <logger name="unmapped.snp.log" additivity="false">
        <level value="INFO" />
        <appender-ref ref="snp-log" />
    </logger>

    <logger name="unmapped.trait.log" additivity="false">
        <level value="INFO" />
        <appender-ref ref="trait-log" />
    </logger>

    <root>
        <priority value="INFO" />
        <appender-ref ref="goci-log" />
    </root>

</log4j:configuration>
