<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
         http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>GOCI Pussycat</display-name>
    <description>
        GOCI Pussycat - GWAS catalog interactive diagram
    </description>

    <!--Define configuration to load-->
    <!--<context-param>-->
    <!--<param-name>contextConfigLocation</param-name>-->
    <!--<param-value>-->
    <!--&lt;!&ndash; todo: spring config goes here &ndash;&gt;-->
    <!--</param-value>-->
    <!--</context-param>-->

    <!--Define Servlets -->
    <servlet>
        <servlet-name>goci-pussycat</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--Define servlet mappings -->
    <servlet-mapping>
        <servlet-name>goci-pussycat</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!-- listener to load context at startup -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            uk.ac.ebi.fgpt.goci.pussycat.PussycatAppListener
        </listener-class>
    </listener>

</web-app>