<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="File" value="${user.home}/.goci/logs/goci.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
        </layout>
    </appender>

    <appender name="diagram-log" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="File" value="diagram-content.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>

    <logger name="diagram.log" additivity="false">
        <level value="INFO" />
        <appender-ref ref="diagram-log" />
    </logger>

    <logger name="org.springframework" additivity="false">
        <level value="WARN" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <logger name="uk.ac.ebi.fgpt.goci.pussycat" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <logger name="uk.ac.ebi.fgpt.goci.owl.pussycat.reasoning.KnowledgeBaseLoadingReasonerSession" additivity="false">
        <level value="TRACE" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <logger name="uk.ac.ebi.fgpt.goci.owl.pussycat.reasoning.KnowledgeBaseLoadingReasonerSession$LoggingProgressMonitor"
            additivity="false">
        <level value="TRACE" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <logger name="uk.ac.ebi.fgpt.goci.owl.pussycat.renderlet.OWLAssociationRenderlet" additivity="false">
        <level value="TRACE" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <logger name="uk.ac.ebi.fgpt.goci.owl.pussycat.renderlet.OWLTraitRenderlet" additivity="false">
        <level value="TRACE" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <logger name="uk.ac.ebi.fgpt.goci.owl.pussycat.session.OWLPussycatSession" additivity="false">
        <level value="TRACE" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <logger name="uk.ac.ebi.fgpt.goci.sparql.pussycat.renderlet.SparqlAssociationRenderlet" additivity="false">
        <level value="TRACE" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <logger name="uk.ac.ebi.fgpt.goci.sparql.pussycat.renderlet.SparqlTraitRenderlet" additivity="false">
        <level value="TRACE" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <logger name="uk.ac.ebi.fgpt.goci.sparql.pussycat.session.SparqlPussycatSession" additivity="false">
        <level value="TRACE" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <logger name="uk.ac.ebi.fgpt.goci.pussycat.renderlet.DefaultRenderletNexus" additivity="false">
        <level value="TRACE" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <root>
        <priority value="INFO" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

</log4j:configuration>
