<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="navbar">
<nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/gwas">GWAS Catalog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li th:classappend="${#httpServletRequest.getServletPath() == '/' ? 'active':''}"><a href="index.html" th:href="@{/}">Home
                    <span class="sr-only">(current)</span>
                </a></li>
                <li th:classappend="${#httpServletRequest.getServletPath() == '/search' ? 'active':''}"><a href='/gwas/search'>Search</a></li>
                <li th:classappend="${#httpServletRequest.getServletPath() == '/diagram' ? 'active':''}"><a href='/gwas/diagram'>Diagram</a></li>
                <li id="downloads-item" th:classappend="${#httpServletRequest.getServletPath() == '/downloads' ? 'active':''}" class="hidden-sm"><a href='/gwas/downloads'>Download</a></li>
                <li id="documentation-item" th:classappend="${#httpServletRequest.getServletPath() == '/docs' ? 'active':''}"><a href='/gwas/docs'>Documentation</a></li>
                <li th:classappend="${#httpServletRequest.getServletPath() == '/docs/about' ? 'active':''}" class="hidden-sm"><a href='/gwas/docs/about'>About</a></li>

                <li>
                    <a class="icon" id="ebi-logo" href="http://www.ebi.ac.uk">
                        <img alt="EBI logo"
                             th:src="@{/icons/EMBL_EBI_Logo_white.png}"/>
                    </a>
                </li>
                <li>
                    <a class="icon" id="nhgri-logo" href="http://www.genome.gov">
                        <img alt="GWAS logo"
                             th:src="@{/icons/NHGRI_NIH%20logo%20all%20verions-02-scaled.png}"/>
                    </a>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
    <div class="navbar-bottom-banner-1 background-color-complementary">
    </div>
    <div class="navbar-bottom-banner-2 background-color-primary-bold">
    </div>
    <div class="navbar-bottom-banner-3 background-color-primary">
    </div>
</nav>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div th:fragment="jumbotron">
<div class="jumbotron background-color-primary-accent"  th:fragment="jumbotron">
    <div class="container">
        <div class="gwas-circle">
            <img
                 th:src="@{/images/GWAS_Catalog_circle_178x178.png}"/>
        </div>
        <div>
            <h1>GWAS Catalog</h1>

            <h3>The NHGRI-EBI Catalog of published genome-wide association studies</h3>

            <!-- search box goes here -->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search the catalog" id="search-box"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="search-button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
            <div class="examples">
                Examples:
                <a href="search?query=breast%20cancer">breast cancer</a>,
                <a href="search?query=rs7329174">rs7329174</a>,
                <a href="search?query=Yang">Yang</a>,
                <!--<a href="search?query=44892362">44892362</a>,-->
                <a href="search?query=2q37.1">2q37.1</a>,
                <a href="search?query=HBS1L">HBS1L</a>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>