<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Curation Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!--Tags input http://timschlechter.github.io/bootstrap-tagsinput/examples/-->
    <link href="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css"
          th:href="@{https://cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css}" rel="stylesheet"/>

    <script src="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"
            th:src="@{https://cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js}"></script>

    <!--Select2: http://ivaynberg.github.io/select2/-->
    <!-- Include Select2 CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css"/>

    <!-- CSS to make Select2 fit in with Bootstrap 3.x -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css"/>

    <!-- Include Select2 JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>

    <!--Handles calculations in form -->
    <script src="../static/js/goci-snp-association-calculations.js"
            th:src="@{../../../js/goci-snp-association-calculations.js}"></script>

    <!--Check variants, check reported genes, load variants mappings, load genomic contexts -->
    <script src="../static/js/goci-snp-association-mapping.js"
            th:src="@{../../../js/goci-snp-association-mapping.js}"></script>

</head>
<body>

<!--Include header-->
<div th:include="header :: navbar"></div>

<div class="container-fluid">
    <!-- Link to the different SNP tabs -->
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a id="association_tab" href="#">SNP Interactions</a></li>
            <li><a id="mapping_tab" href="#">SNP Mappings</a></li>
        </ul>
    </div>
    <!--Link back to study page -->
    <div class="col-md-10" style="margin-top:10px">
        <div th:include="link_to_all_study_associations :: all_associations"></div>
    </div>
</div>
<br/>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <div id="addSNPForm">


                    <form class="form-horizontal"
                          method="post"
                          name="snp-association-form"
                          th:object="${snpAssociationInteractionForm}">

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>

                        <div th:include="field_errors :: field_errors"></div>

                        <div id="association_div">
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">

                                    <table class="table table-hover table-bordered">
                                        <div th:hidden="*{numOfInteractions &gt; 0 }">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="numOfInteractions"
                                                           th:field="*{numOfInteractions}"
                                                           placeholder="Enter the number of interactions"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                <button type="submit" name="addCols" class="btn btn-default">Add interactions
                                                </button>
                                                </div>
                                            </div>
                                        </div>

                                        <thead th:if="*{numOfInteractions &gt; 0 }">
                                        <tr>
                                            <th>
                                                <button class="btn btn-default btn-sm" type="submit" name="addCol">Add column</button>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody th:if="*{numOfInteractions &gt; 0 }">

                                        <tr>
                                            <td></td>
                                            <td th:each="col,colStat : *{snpFormColumns}">
                                                 <button class="btn btn-default btn-sm" type="submit" name="removeCol"
                                                         th:value="${colStat.index}"><span class="glyphicon glyphicon-remove"
                                                                                           aria-hidden="true"></span>
                                             </button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>SNP</td>
                                            <td th:each="col,colStat : *{snpFormColumns}">
                                                <span th:text="${colStat.count}"
                                                      class="snp_row"
                                                      style="display:none">1</span>
                                                <input th:id="snp_id_+${colStat.count}"
                                                       type="text"
                                                       th:field="*{snpFormColumns[__${colStat.index}__].snp}"/>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Strongest SNP-Risk Allele</td>
                                            <td th:each="col,colStat : *{snpFormColumns}">
                                                <input type="text"
                                                       th:field="*{snpFormColumns[__${colStat.index}__].strongestRiskAllele}"/>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div>Gene(s)</div>
                                            </td>
                                            <td th:each="col,colStat : *{snpFormColumns}">
                                                <input type="text"
                                                       data-role="tagsinput"
                                                       th:id="'authorgenes'+${colStat.index}"
                                                       th:field="*{snpFormColumns[__${colStat.index}__].authorReportedGenes}"/>

                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Proxy</td>
                                            <td th:each="col,colStat : *{snpFormColumns}">
                                                <input type="text" data-role="tagsinput" label="proxySnps"
                                                       th:field="*{snpFormColumns[__${colStat.index}__].proxySnps}"/>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Independent SNP risk allele frequency in controls</td>
                                            <td th:each="col,colStat : *{snpFormColumns}">
                                                <input type="text"
                                                       th:field="*{snpFormColumns[__${colStat.index}__].riskFrequency}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Genome-wide</td>
                                            <td th:each="col,colStat : *{snpFormColumns}">
                                                <input type="checkbox"
                                                       th:field="*{snpFormColumns[__${colStat.index}__].genomeWide}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Limited list</td>
                                            <td th:each="col,colStat : *{snpFormColumns}">
                                                <input type="checkbox"
                                                       th:field="*{snpFormColumns[__${colStat.index}__].limitedList}"/>
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="riskFrequency" class="control-label col-md-2">Combined interacting risk
                                                                                          allele frequency in
                                                                                          controls</label>

                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="riskFrequency"
                                           th:field="*{riskFrequency}" name="riskFrequency"/>
                                </div>
                            </div>

                            <div th:include="common_association_elements :: association_elemets"></div>
                            <div th:if="${#strings.containsIgnoreCase(measurementType,'or')}"
                                 th:include="association_or_fragment :: or"></div>
                            <div th:if="${#strings.containsIgnoreCase(measurementType,'beta')}"
                                 th:include="association_beta_fragment :: beta"></div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>

                        <!-- Mapping div containing the mappings and context forms -->
                        <div class="row" id="mapping_div" style="display:none">
                            <div class="form-group">
                                <div>
                                    <label class="control-label">Mapping data:</label>
                                </div>
                                <div th:include="snp_mapping :: mapping_table"></div>
                                <div th:include="snp_genomic_context :: genomic_context_table"></div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        // turn the element to select2 select style
        $('#EFOTrait').select2();
    });
</script>

<!--Formats tags input -->
<script>
    $('#proxySnps').tagsinput({
                                  trimValue: true
                              });
</script>

<!--Formats tags input -->
<script>
    $('#authorgenes').tagsinput({
                                    trimValue: true
                                });
</script>

</body>

</html>