<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body th:fragment="association_errors">

<!--Link back to study page -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <a class="btn btn-default" th:href="@{/studies/{studyId}/associations(studyId=${study.id})}">Back to all SNP
                                                                                                         associations</a>
            <button id="errorButton"
                    th:if="${ not #strings.isEmpty(errors.snpErrors)
                or not #strings.isEmpty(errors.riskAlleleErrors)
                or not #strings.isEmpty(errors.proxyErrors)
                or not #maps.isEmpty(errors.associationErrorMap)}"
                    type="button"
                    class="btn btn-danger"
                    data-toggle="collapse"
                    data-target="#collapseErrors"
                    aria-expanded="false"
                    aria-controls="collapseErrors">
                <span class="glyphicon glyphicon-collapse-down"></span> Open errors
            </button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="collapse" id="collapseErrors">
            <div class="well col-md-offset-4 col-md-6">

                <div th:if="${not #maps.isEmpty(errors.associationErrorMap)}">
                    <strong>
                        <span th:utext="'&lt;br /&gt;' + 'Mapping errors : '+'&lt;br /&gt;' ?: ''"></span>
                        <span th:each="error: ${errors.associationErrorMap}"
                              th:utext="${error.value} + '&lt;br /&gt;' ?: ''"></span>
                    </strong>
                </div>

                <div th:if="${ not #strings.isEmpty(errors.snpErrors)
                        or not #strings.isEmpty(errors.riskAlleleErrors)
                        or not #strings.isEmpty(errors.proxyErrors)}">
                    <span th:utext="'&lt;br /&gt;' +'Note: '+ '&lt;br /&gt;'"></span>

                    <div th:if="${not #strings.isEmpty(errors.snpErrors)}">
                        <span th:utext="'SNP errors: '+${#strings.replace(errors.snpErrors,'.','&lt;br /&gt;')}+ '&lt;br /&gt;' ?: ''"></span>
                    </div>

                    <div th:if="${not #strings.isEmpty(errors.riskAlleleErrors)}">
                        <span th:utext="'Risk allele errors: '+${#strings.replace(errors.riskAlleleErrors,'.','&lt;br /&gt;')}+ '&lt;br /&gt;' ?: ''"></span>
                    </div>

                    <div th:if="${not #strings.isEmpty(errors.proxyErrors)}">
                        <span th:utext="'Proxy SNP errors: '+${#strings.replace(errors.proxyErrors,'.','&lt;br /&gt;')}+ '&lt;br /&gt;' ?: ''"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#collapseErrors").on("hide.bs.collapse", function() {
            $("#errorButton").html('<span class="glyphicon glyphicon-collapse-down"></span> Open errors');
        });
        $("#collapseErrors").on("show.bs.collapse", function() {
            $("#errorButton").html('<span class="glyphicon glyphicon-collapse-up"></span> Close errors');
        });
    });
</script>

</body>
</html>