<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body th:fragment="beta">

<div class="form-group">
    <label for="beta" class="control-label col-md-2">Beta (Num)</label>

    <div class="col-md-10">
        <input type="text" class="form-control" name="beta" id="beta" th:filed="*{beta}"/>
    </div>
</div>

<div class="form-group">
    <label for="betaUnit" class="control-label col-md-2">Unit</label>

    <div class="col-md-10">
        <input type="text" class="form-control" id="betaUnit" th:field="*{betaUnit}" name="betaUnit" th:default="unit"/>
    </div>
</div>

<div class="form-group">
    <label for="betaUnitDirection" class="control-label col-md-2">Direction</label>

    <div class="col-md-10" id="betaUnitDirection">
        <label class="radio-inline">
            <input type="radio" name="betaIncrease" th:value="'increase'"
                   th:field="*{betaUnitDirection}">Increase</input>
        </label>
        <label class="radio-inline">
            <input type="radio" name="betaDecrease" th:value="'decrease'"
                   th:field="*{betaUnitDirection}">Decrease</input>
        </label>
    </div>
</div>

</body>
</html>