<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body th:fragment="association_approval">

<!--Alert if data is saved-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Warning!</strong> This SNP association is approved, no changes can be saved
            </div>
        </div>
    </div>
</div>

</body>
</html>

