<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Curation Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<!--Include header-->
<div th:include="header :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">

            <div class="alert alert-danger col-md-6">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Warning!</strong> Are you sure you want to delete the following disease/trait? If not,
                <!--Return to disease traits page-->
                <a th:href="@{/diseasetraits}" class="alert-link">Cancel</a>

            </div>

            <div class="form-group">
                <div id="deleteDiseaseTraitForm">
                    <form class="form-horizontal" name="deleteDiseaseTraitForm" method="post"
                          th:object="${diseaseTrait}">

                        <div class="form-group col-md-8">
                            <label for="trait" class="control-label">Disease / Trait:</label>

                            <div>
                                <input type="text" class="form-control" id="trait" th:field="*{trait}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-8 col-md-2">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>