<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Curation Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/jumbotron.css}" rel="stylesheet"/>
    <link th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet"/>

    <!-- Additional styling on top of bootstrap -->
    <link rel="stylesheet" th:href="@{/css/goci-curation.css}"/>
    <link rel="stylesheet" th:href="@{/css/icons/flaticon.css}"/>
    <link rel="stylesheet" th:href="@{/css/goci-color-palette-1.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!--Bootstrap table: http://bootstrap-table.wenzhixin.net.cn/-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.5.0/bootstrap-table.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.5.0/bootstrap-table.min.js"></script>

    <!--http://brianreavis.github.io/selectize.js/-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.0/css/selectize.min.css"/>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.0/css/selectize.bootstrap3.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.0/js/standalone/selectize.min.js"></script>

</head>
<body>

<!--First option in select is a placeholder-->
<style>
    select option[disabled]:first-child {
        display: none;
    }
</style>

<!--Include header-->
<div th:include="fragments/header :: navbar"></div>

<!--Alert if data is deleted-->
<div class="container-fluid" th:if="${!#strings.isEmpty(diseaseTraitExists)}">
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong th:text="${diseaseTraitExists}">Error: </strong>
            </div>
        </div>
    </div>
</div>

<!--Alert if data is saved-->
<div class="container-fluid" th:if="${!#strings.isEmpty(diseaseTraitSaved)}">
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong th:text="${diseaseTraitSaved}">Success: </strong>
            </div>
        </div>
    </div>
</div>

<!--Add new disease trait-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <form id="selectizeForm" method="post" class="form-vertical" th:object="${diseaseTrait}">
                <div class="form-group">
                    <label for="addDiseaseTrait" class="control-label"></label>

                    <div>
                        <select name="addDiseaseTrait" class="form-control"
                                th:field="*{trait}" id="addDiseaseTrait">
                            <option value="">Enter new disease/trait</option>
                            <option th:each="trait : ${diseaseTraits}"
                                    th:value="${trait.trait}"
                                    th:text="${trait.trait}"></option>
                        </select>

                        <!--Catch an empty value being added-->
                        <p th:if="${#fields.hasErrors('trait')}" class="label label-danger"
                           th:errors="*{trait}"></p>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-default">Add Disease / Trait</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table id="diseaseTraitTable" class="table table-hover table-bordered"
                   data-toggle="table"
                   data-search="true"
                   data-sort-order="desc">
                <caption th:text="'Total: '+ ${totaldiseaseTraits}"></caption>
                <thead>
                <tr>
                    <th data-field="edit" data-switchable="false"></th>
                    <th data-field="diseasetrait" data-sortable="true">Disease / Trait</th>
                    <th data-field="delete" data-switchable="false"></th>
                </tr>
                </thead>
                <tbody>
                <!--Loop through all disease traits-->
                <tr th:each="diseaseTrait : ${diseaseTraits}">
                    <td><a th:href="@{/diseasetraits/{diseaseTraitId}(diseaseTraitId=${diseaseTrait.id})}"
                           class="btn btn-link">Edit</a></td>
                    <td th:text="${diseaseTrait.trait}"></td>
                    <td><a th:href="@{/diseasetraits/{diseaseTraitId}/delete(diseaseTraitId=${diseaseTrait.id})}"
                           class="btn btn-danger">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:include="fragments/footer :: page_footer"></div>

<script>
    $('#addDiseaseTrait').selectize({
                                        maxItems: 1,
                                        highlight: true,
                                        create: function(input) {
                                            return {
                                                value: input,
                                                text: input
                                            }
                                        },
                                        dropdownParent: 'body',
                                        persist: false
                                    });
</script>

</body>
</html>