<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Curation Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css"/>
    <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>


    <!--Select2: http://ivaynberg.github.io/select2/-->
    <!-- Include Select2 CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css"/>

    <!-- CSS to make Select2 fit in with Bootstrap 3.x -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css"/>

    <!-- Include Select2 JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>


    <!--Tags input http://timschlechter.github.io/bootstrap-tagsinput/examples/-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css"/>
    <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>


    <!--Handles calculations in form -->
    <script src="../static/js/goci-snp-association-calculations.js"
            th:src="@{../js/goci-snp-association-calculations.js}"></script>


</head>
<body>

<!--Include header-->
<div th:include="header :: navbar"></div>

<!--Include errors-->
<div th:include="association_error :: association_errors"></div>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <div id="addSNPForm">
                    <form class="form-horizontal"
                          method="post"
                          name="snp-association-form"
                          th:object="${snpAssociationInteractionForm}"
                          th:action="@{${uri}(associationtype=interaction)}">
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">

                                <table class="table table-hover table-bordered">
                                    <div th:hidden="*{numOfInteractions &gt; 0 }">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="numOfInteractions"
                                                       th:field="*{numOfInteractions}"
                                                       placeholder="Enter the number of interactions"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                            <button type="submit" name="addCols" class="btn btn-default">Add interactions
                                            </button>
                                            </div>
                                        </div>
                                    </div>

                                    <thead th:if="*{numOfInteractions &gt; 0 }">
                                    <tr>
                                        <th>
                                            <button class="btn btn-default btn-sm" type="submit" name="addCol">Add column</button>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="*{numOfInteractions &gt; 0 }">

                                    <tr>
                                        <td></td>
                                        <td th:each="col,colStat : *{snpFormColumns}">
                                             <button class="btn btn-default btn-sm" type="submit" name="removeCol"
                                                     th:value="${colStat.index}"><span class="glyphicon glyphicon-remove"
                                                                                       aria-hidden="true"></span>
                                         </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>SNP</td>
                                        <td th:each="col,colStat : *{snpFormColumns}">
                                            <input type="text" th:field="*{snpFormColumns[__${colStat.index}__].snp}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Strongest SNP-Risk Allele</td>
                                        <td th:each="col,colStat : *{snpFormColumns}">
                                            <input type="text"
                                                   th:field="*{snpFormColumns[__${colStat.index}__].strongestRiskAllele}"/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Gene(s)</td>
                                        <td th:each="col,colStat : *{snpFormColumns}">
                                            <input type="text" data-role="tagsinput"
                                                   th:field="*{snpFormColumns[__${colStat.index}__].authorReportedGenes}"/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Proxy</td>
                                        <td th:each="col,colStat : *{snpFormColumns}">
                                            <input type="text" data-role="tagsinput" label="proxySnps"
                                                   th:field="*{snpFormColumns[__${colStat.index}__].proxySnps}"/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Independent SNP risk allele frequency in controls</td>
                                        <td th:each="col,colStat : *{snpFormColumns}">
                                            <input type="text"
                                                   th:field="*{snpFormColumns[__${colStat.index}__].riskFrequency}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Genome-wide</td>
                                        <td th:each="col,colStat : *{snpFormColumns}">
                                            <input type="checkbox"
                                                   th:field="*{snpFormColumns[__${colStat.index}__].genomeWide}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Limited list</td>
                                        <td th:each="col,colStat : *{snpFormColumns}">
                                            <input type="checkbox"
                                                   th:field="*{snpFormColumns[__${colStat.index}__].limitedList}"/>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="riskFrequency" class="control-label col-md-2">Combined interacting risk allele frequency in controls</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="riskFrequency"
                                       th:field="*{riskFrequency}" name="riskFrequency"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="pvalueMantissa" class="control-label col-md-2">P-value (mantissa)</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="pvalueMantissa"
                                       th:field="*{pvalueMantissa}" name="pvalueMantissa"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="pvalueExponent" class="control-label col-md-2">P-value (exponent)</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="pvalueExponent"
                                       th:field="*{pvalueExponent}" name="pvalueExponent"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="pvalueText" class="control-label col-md-2">P-value (Text)</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="pvalueText"
                                       th:field="*{pvalueText}" name="pvalueText"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="EFOTrait" class="control-label col-md-2">EFO Trait:</label>

                            <div class="col-md-10">
                                <select name="efoTraits" th:field="*{efoTraits}"

                                        class="form-control select2-select"
                                        multiple="multiple" id="EFOTrait">
                                    <option th:each="efoTrait : ${efoTraits}"
                                            th:value="${efoTrait.id}"
                                            th:text="${efoTrait.trait}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="orPerCopyNum" class="control-label col-md-2">OR/HR/RR per copy (Num)</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" name="orPerCopyNum" id="orPerCopyNum"
                                       th:field="*{orPerCopyNum}"/>
                            </div>
                        </div>

                        <div class="alert alert-warning alert-dismissible col-md-offset-2 col-md-10"
                             role="alert"
                             th:if="*{orPerCopyNum &lt; 1 and not #strings.isEmpty(orPerCopyNum)}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <strong>Warning!</strong> OR value less than one
                        </div>

                        <div class="form-group">
                            <label for="orPerCopyRecip" class="control-label col-md-2">OR/HR/RR per copy
                                                                                       reciprocal</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="orPerCopyRecip"
                                       th:field="*{orPerCopyRecip}" name="orPerCopyRecip"/>
                            </div>

                            <div class="col-md-10">
                                <button type="button"
                                        class="btn btn-primary pull-right"
                                        id="calculate-or">Calculate OR/HR/RR per copy (Num)</button>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="orPerCopyRange" class="control-label col-md-2">OR/HR/RR per copy (Range)</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="orPerCopyRange"
                                       th:field="*{orPerCopyRange}" name="orPerCopyRange"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="orPerCopyRecipRange" class="control-label col-md-2">OR/HR/RR per copy reciprocal
                                                                                            (Range)</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="orPerCopyRecipRange"
                                       th:field="*{orPerCopyRecipRange}" name="orPerCopyRecipRange"/>
                            </div>

                            <div class="col-md-10">
                                <button type="button"
                                        class="btn btn-primary pull-right"
                                        id="calculate-recip-range">Calculate OR/HR/RR per copy (Range)</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="orPerCopyUnitDescr" class="control-label col-md-2">OR/HR/RR per copy (Unit
                                                                                           Description)</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="orPerCopyUnitDescr"
                                       th:field="*{orPerCopyUnitDescr}" name="orPerCopyUnitDescr"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="orPerCopyStdError" class="control-label col-md-2">Standard Error</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="orPerCopyStdError"
                                       th:field="*{orPerCopyStdError}" name="orPerCopyStdError"/>
                            </div>

                            <div class="col-md-12">
                            <button type="button"
                                    class="btn btn-primary pull-right"
                                    id="calculate-or-range">Build OR/HR/RR per copy (Range)</button>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="snpType" class="control-label col-md-2">SNP type</label>

                            <div class="col-md-10" id="snpType">
                                <label class="radio-inline">
                                    <input type="radio" name="snpType" th:value="'novel'"
                                           th:field="*{snpType}">novel</input>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="snpType" th:value="'known'"
                                           th:field="*{snpType}">known</input>
                                </label>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="orType" class="control-label col-md-2">ORType</label>
                            <input id="orType" type="checkbox" th:field="*{orType}"/>
                        </div>

                        <div class="form-group">
                            <label for="snpChecked" class="control-label col-md-2">SNP checked?</label>
                            <input id="snpChecked" type="checkbox" th:field="*{snpChecked}"/>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>


                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    $(function() {
        // turn the element to select2 select style
        $('#EFOTrait').select2();
    });
</script>

<!--Formats tags input -->
<script>
    $('#proxySnps').tagsinput({
        trimValue: true
    });
</script>

<!--Formats tags input -->
<script>
    $('#authorgenes').tagsinput({
        trimValue: true
    });
</script>

</body>

</html>