<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Curation Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/jumbotron.css}" rel="stylesheet"/>
    <link th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet"/>

    <!-- Additional styling on top of bootstrap -->
    <link rel="stylesheet" th:href="@{/css/goci-curation.css}"/>
    <link rel="stylesheet" th:href="@{/css/icons/flaticon.css}"/>
    <link rel="stylesheet" th:href="@{/css/goci-color-palette-1.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


    <!--Select2: http://ivaynberg.github.io/select2/-->
    <!-- Include Select2 CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css"/>

    <!-- CSS to make Select2 fit in with Bootstrap 3.x -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css"/>

    <!-- Include Select2 JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>

    <script th:src="@{/js/goci-editing.js}"></script>

</head>
<body>

<!--Include header-->
<div th:include="fragments/header :: navbar"></div>

<div>
    <ol class="breadcrumb pull-right">
        <li><a th:href="@{/studies}">Studies</a></li>
        <li><span th:text="${study.author + '_' + study.id} ?: '' "></span></li>
        <li class="active">Edit sample description</li>
    </ol>
</div>

<div class="form-group" style="display: none">
    <label for="publish_flag" class="control-label col-md-2"></label>

    <div class="col-md-10">
        <input type="hidden" th:field="${study.housekeeping.isPublished}" class="form-control" id="publish_flag"/>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div id="editAncestryForm" class="dataForm">
                <form class="form-horizontal" method="post" name="editAncestryForm">

                    <div th:include="fragments/ancestry_published_alert :: ancestry_published"
                         th:if="*{#bools.isTrue(study.housekeeping.isPublished)}"></div>


                    <!--Hidden fields-->
                    <div class="form-group">
                        <label for="id" class="control-label col-md-2"></label>

                        <div class="col-md-10">
                            <input type="hidden" th:field="${ancestry.id}" class="form-control" id="id"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="studyId" class="control-label col-md-2"></label>

                        <div class="col-md-10">
                            <input type="hidden" th:field="${ancestry.study.id}" class="form-control" id="studyID"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="events" class="control-label col-md-2"></label>

                        <div class="col-md-10">
                            <input type="hidden" th:field="${ancestry.events}" class="form-control" id="events"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="previouslyReported" class="control-label col-md-2"></label>

                        <div class="col-md-10">
                            <input type="hidden" th:field="${ancestry.previouslyReported}" class="form-control"
                                   id="previouslyReported"/>
                        </div>
                    </div>


                    <!--Type dropdown-->
                    <div class="form-group">
                        <label for="type" class="control-label col-md-2">Type</label>

                        <select th:field="${ancestry.type}" id="type">
                            <option th:each="ancestryType : ${ancestryTypes}"
                                    th:value="${ancestryType}"
                                    th:text="${ancestryType}"></option>
                        </select>

                    </div>

                    <div class="form-group">
                        <label for="numberOfIndividuals" class="control-label col-md-2">Number of Individuals:</label>
                        <input id="numberOfIndividuals" type="text" th:field="${ancestry.numberOfIndividuals}"/>
                    </div>


                    <!--Dropdowns-->
                    <div class="form-group">
                        <label for="ancestralGroup" class="control-label col-md-2">Inferred Ancestry:</label>

                        <div class="col-md-10">
                            <select name="ancestralGroup" class="form-control select2-select"
                                    multiple="multiple" data-placeholder="Choose Ancestry"
                                    th:field="${ancestralGroup.ancestralGroupValues}"
                                    id="ancestralGroup">
                                <option th:each="ancestralGroup : ${ancestralGroups}"
                                        th:value="${ancestralGroup}"
                                        th:text="${ancestralGroup}"></option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="countryOfOrigin" class="control-label col-md-2">Country of Origin:</label>

                        <div class="col-md-10">
                            <select name="countryOfOrigin" class="form-control select2-select"
                                    multiple="multiple" th:field="${countryOfOrigin.originCountryValues}"
                                    id="countryOfOrigin">
                                <option th:each="country : ${countries}"
                                        th:value="${country.name}"
                                        th:text="${country.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="countryOfRecruitment" class="control-label col-md-2">Country of Recruitment:</label>

                        <div class="col-md-10">
                            <select name="countryOfRecruitment" class="form-control select2-select"
                                    multiple="multiple"
                                    th:field="${countryOfRecruitment.recruitmentCountryValues}"
                                    id="countryOfRecruitment">
                                <option th:each="country : ${countries}"
                                        th:value="${country.name}"
                                        th:text="${country.name}"></option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="description" class="control-label col-md-2">Additional Description:</label>
                        <textarea class="col-md-6"
                                  rows="10"
                                  id="description"
                                  th:field="${ancestry.description}"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="notes" class="control-label col-md-2">Notes</label>
                        <textarea class="col-md-6" rows="10" id="notes" th:field="${ancestry.notes}"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="sampleSizesMatch" class="control-label col-md-2">Sample Sizes Match in Catalog at
                                                                                     Study Level?</label>

                        <select th:field="${ancestry.sampleSizesMatch}" id="sampleSizesMatch">
                            <option th:each="match : ${sampleSizesMatchOptions}"
                                    th:value="${match}"
                                    th:text="${match}"></option>
                        </select>
                    </div>

                    <!--Button -->
                    <!--<div class="form-group">-->
                        <!--<div class="col-md-offset-2 col-md-10">-->
                            <!--<button type="submit" class="btn btn-primary">Save</button>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="form-group" th:if="*{#bools.isFalse(study.housekeeping.isPublished)}">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments/footer :: page_footer"></div>

<script>
    $(function() {
        // turn the element to select2 select style
        $('#ancestralGroup').select2();


    });
</script>

<script>
    $(function() {
        // turn the element to select2 select style
        $('#countryOfOrigin').select2();

    });
</script>

<script>
    $(function() {
        // turn the element to select2 select style
        $('#countryOfRecruitment').select2();

    });
</script>

</body>
</html>