<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Curation Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/jumbotron.css}" rel="stylesheet"/>
    <link th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet"/>

    <!-- Additional styling on top of bootstrap -->
    <link rel="stylesheet" th:href="@{/css/goci-curation.css}"/>
    <link rel="stylesheet" th:href="@{/css/icons/flaticon.css}"/>
    <link rel="stylesheet" th:href="@{/css/goci-color-palette-1.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css"/>
    <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var contextPath = /*[[@{/}]]*/'';
        console.log(contextPath);

        /*]]>*/
    </script>

    <!--https://www.datatables.net/-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
</head>
<body>

<!--Include header-->
<div th:include="fragments/header :: navbar"></div>



<div class="container-fluid" style="padding-top: 30px">

    <ol class="breadcrumb background-color-complementary-accent">
        <li><a th:href="@{/home}">GWAS</a></li>
        <!--li><a href="studies.html" th:href="@{/studies}">Studies</a></-li-->
        <li>Publication</li>
        <li class="active" th:text="${publication.pubmedId}"></li>
    </ol>


    <div class="container-fluid" id="lower_container">
        <div class="row">
            <div id="loadingResults" class="col-md-offset-4">
                <button class="btn btn-lg">
                                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"
                                          style="margin-right: 1em;"></span>
                </button>
            </div>
            <a th:if="${publication.activeSubmission}"
               th:href="@{/submissions/{submissionId}(submissionId=${publication.pubmedId})}" title="Note: This Publication has an active submission">
                <span class="glyphicon glyphicon-warning-sign text-danger" style="font-size: 15px"></span>
            </a>
        </div>
        <!-- Summary panel -->
        <div class="row" style="margin-top:10px">
            <div id="summary-info" class="panel panel-default"  style="padding-left:0px">
                <div class="panel-heading background-color-primary-accent">
                    <h3 class="panel-title">Publication information</h3>
                </div>
                <div class="clearfix" id="summary-panel-loading">
                    <div class="panel-body col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <div class="clearfix">
                            <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5 item-left">
                                <span class="item-left-bold">PubMed ID</span>
                            </div>
                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7" id="publication-pubmedid"
                                 th:text="${publication.pubmedId}">
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5 item-left">
                                <span class="item-left-bold">First author</span>
                            </div>
                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7" id="publication-author"
                                 th:text="${publication.firstAuthor.fullname}"></div>

                        </div>
                    </div>

                    <!--  data -->
                    <div class="panel-body col-lg-5 col-md-4 col-sm-4 col-xs-4">
                        <div class="clearfix">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 item-left">
                                <span class="item-left-bold">Journal</span>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8" id="publication-journal"
                                 th:text="${publication.publication}">-
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 item-left">
                                <span>Publication date</span>
                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Journal publication date YYYY-MM-DD"></span>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8" id="publication-datepublication"
                                 th:text="${#calendars.format(publication.publicationDate,'YYYY-MM-dd')}">-
                            </div>
                        </div>
                    </div>

                    <div id="panel-links" class="panel-body col-lg-2 col-md-3 col-sm-3 col-xs-3">
                        <div style="margin-bottom: 0.6em">
                            <button type="button" class="btn btn-default btn-sm" id="pubmedid_button">View in <b>
                                PubMed</b><span class="glyphicon glyphicon-new-window external-link"></span></button>
                        </div>
                        <div style="margin-bottom: 0.6em">
                            <button type="button" class="btn btn-default btn-sm" id="europepmc_button">View in <b>Europe PMC</b><span class="glyphicon glyphicon-new-window external-link"></span></button>
                        </div>
                    </div>
                </div>

                <div class="clearfix" id="authorsList-panel-loading">
                    <div class="panel-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="clearfix">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 item-left">
                                <span class="item-left-bold">Title</span>
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" id="publication-title"
                                 th:text="${publication.title}">-</div>
                        </div>
                        <div class="clearfix">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 item-left">
                                <span class="item-left-bold">Authors</span>
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" id="publication-authors-list">
                                <span th:each="author: ${publication.authors}">
                                    <span th:text="${author.fullname}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="form-inline col-sm-6">
                <label for="curationStatus" class="col-form-label col-sm-2">Curator Status:</label>
                <select name="curationStatus" class="form-control select2-select col-sm-2"
                        style="width: 300px"
                        id="curationStatus">
                    <!--Empty value for first entry-->
                    <option value=""></option>
                    <option th:each="curationStatus : ${curationstatuses}"
                            th:value="${curationStatus.id}"
                            th:text="${curationStatus.status}"
                            th:unless="${curationStatus.status} == 'Unpublished from catalog' ">
                    </option>
                </select>
                <a role="button" type="submit" id="assignStatus"
                        class="btn btn-primary btn-sm">Save Status
                </a>
            </div>
            <div class="form-inline col-sm-6">
                <label for="curator" class="col-form-label col-sm-2">Curator:</label>
                <select name="curator" class="form-control select2-select col-sm-2"
                        style="width: 300px"
                        id="curator">
                    <!--Empty value for first entry-->
                    <option value=""></option>
                    <option th:each="curator : ${curators}"
                            th:value="${curator.id}"
                            th:text="${curator.lastName}"></option>
                </select>
                <a role="button" type="submit" id="assignCurator"
                        class="btn btn-primary btn-sm">Save Curator
                </a>
            </div>
        </div>
        <div class="row">
            <div class="form-inline col-sm-6">
                <label for="diseaseTrait" class="control-label col-sm-2">Disease Trait</label>

                <select name="diseaseTrait" id="diseaseTrait"
                        style="width: 300px"
                        class="form-control select2-select col-sm-2">
                    <!-- Empty value for first entry-->
                    <option value=""></option>
                    <option th:each="diseaseTrait : ${diseaseTraits}"
                            th:value="${diseaseTrait.id}"
                            th:text="${diseaseTrait.trait}"></option>
                </select>
                <a role="button" type="submit" id="saveDiseaseTrait"
                   class="btn btn-primary btn-sm">Save Disease Trait
                </a>
            </div>
            <div class="form-inline col-sm-6">
                <label for="EFOTrait" class="control-label col-sm-2">EFO Trait</label>

                <select name="EFOTrait" th:field="*{efoTraits}" class="form-control select2-select col-sm-2"
                        style="width: 300px"
                        multiple="multiple" id="EFOTrait">
                    <option th:each="efoTrait : ${efoTraits}"
                            th:value="${efoTrait.id}"
                            th:text="${efoTrait.trait}"></option>
                </select>
                <a role="button" type="submit" id="saveEfoTrait"
                   class="btn btn-primary btn-sm">Save EFO Trait
                </a>
            </div>
        </div>
        <div class="row">
            <div class="form-inline col-sm-6">
                <label for="backgroundTrait" class="control-label col-sm-2">Background Trait</label>

                <select name="backgroundTrait" id="backgroundTrait"
                        style="width: 300px"
                        class="form-control select2-select col-sm-2">
                    <!-- Empty value for first entry-->
                    <option value=""></option>
                    <option th:each="diseaseTrait : ${diseaseTraits}"
                            th:value="${diseaseTrait.id}"
                            th:text="${diseaseTrait.trait}"></option>
                </select>
                <a role="button" type="submit" id="saveBackgroundTrait"
                   class="btn btn-primary btn-sm">Save Background Trait
                </a>
            </div>
            <div class="form-inline col-sm-6">
                <label for="mappedBackgroundTraits" class="control-label col-sm-2">Mapped Background Trait</label>

                <select name="mappedBackgroundTraits"
                        class="form-control select2-select col-sm-2"
                        style="width: 300px"
                        multiple="multiple" id="mappedBackgroundTraits">
                    <option th:each="efoTrait : ${efoTraits}"
                            th:value="${efoTrait.id}"
                            th:text="${efoTrait.trait}"></option>
                </select>
                <a role="button" type="submit" id="saveBackgroundEfos"
                   class="btn btn-primary btn-sm">Save Background EFOs
                </a>
            </div>
        </div>
        <div class="row">
            <a role="button" type="submit" id="deleteStudies"
               class="btn btn-primary btn-sm">Delete Selected Studies
            </a>
            <a role="button" type="submit" id="addSumStats"
               class="btn btn-primary btn-sm">Add Summary Stats
            </a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="submissionDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th><input type="checkbox" id="select_all" class="checkbox"/></th>
                        <th style="width:10%">Study Id</th>
                        <th style="width:10%">Study Accession</th>
                        <th style="width:10%">Has SumStats</th>
                        <th style="width:10%">Has Study Files</th>
                        <th style="width:20%">Disease Trait</th>
                        <th style="width:20%">EFO Traits</th>
                        <th style="width:20%">Background Trait</th>
                        <th style="width:20%">Background EFO Traits</th>
                        <th style="width:10%">Association Count</th>
                        <th style="width:10%">Curation Status</th>
                        <th style="width:10%">Curator</th>
                        <th style="width:10%">Study Tag</th>
                        <th style="width:10%">Duplicate</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="study,iter : ${publication.studies}">
                        <td>
                            <input type="checkbox" class="table-checkbox checkbox" th:id="${study.id}"/>
                        </td>
                        <td>
                            <p>
                                <a th:href="@{/studies/{studyId}(studyId=${study.id})}" th:text="${study.id}"></a>
                            </p>
                        </td>
                        <td>
                            <p>
                                <a
                                        th:href="@{https://www.ebi.ac.uk/gwas/studies/{accessionId}(accessionId=${study.accessionId})}" th:text="${study.accessionId}"></a>
                            </p>
                        </td>
                        <td>
                            <p>
                                <span th:text="${study.fullPvalueSet}"></span>
                            </p>
                        </td>
                        <td>
                            <p>
                                <span th:if="${studyFiles.contains(study.id.toString())}">
                                    <a
                                            th:href="@{/studies/{studyId}/studyfiles(studyId=${study.id})}" th:text="${study.id}"></a>
                                </span>
                            </p>
                        </td>
                        <td>
                            <p>
                                <span th:text="${study.diseaseTrait} ? ${study.diseaseTrait.trait}: ''"></span>
                            </p>
                        </td>
                        <td>
                            <p>
                                <span th:each="efo: ${study.efoTraits}">
                                    <a th:href="@{//www.ebi.ac.uk/gwas/efotraits/{trait}(trait=${efo.shortForm})}"
                                       th:text="${efo.trait}"></a><br/>
                                </span>

                            </p>
                        </td>
                        <td>
                            <p>
                                <span th:text="${study.backgroundTrait} ? ${study.backgroundTrait.trait}: ''"></span>
                            </p>
                        </td>
                        <td>
                            <p>
                                <span th:each="efo: ${study.mappedBackgroundTraits}">
                                    <a th:href="@{//www.ebi.ac.uk/gwas/efotraits/{trait}(trait=${efo.shortForm})}"
                                       th:text="${efo.trait}"></a><br/>
                                </span>

                            </p>
                        </td>
                        <td>
                            <p>
                                <span th:text="${study.getAssociations().size()}"></span>
                            </p>
                        </td>
                        <td>
                            <p>
                                <span th:text="${study.housekeeping.curationStatus.status}"></span>
                            </p>
                        </td>
                        <td>
                            <p>
                                <span
                                        th:text="(${study.housekeeping.curator.firstName} ? ${study.housekeeping.curator.firstName} + ' ' : '') + ${study.housekeeping.curator.lastName}"></span>
                            </p>
                        </td>
                        <td>
                            <p>
                                <span th:text="${study.studyTag}"></span>
                            </p>
                        </td>
                        <td>
                            <p>
                                <span th:text="${study.tagDuplicatedNote}"></span>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>


    <!--Include footer-->
    <div th:include="fragments/footer :: page_footer"></div>
    <script th:src="@{/js/goci-publication-page.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {

            $("#pubmedid_button").attr('onclick', "window.open('https://www.ncbi.nlm.nih.gov/pubmed/?term=" +
                [[${publication.pubmedId}]] +
                "',    '_blank')");
            $("#europepmc_button").attr('onclick', "window.open('https://http://europepmc.org/article/MED/" +
                [[${publication.pubmedId}]] +
                "',    '_blank')");
        })
        /*]]>*/
    </script>
</div>
</body>
</html>
