<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Curation Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/jumbotron.css}" rel="stylesheet"/>
    <link th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet"/>

    <!-- Additional styling on top of bootstrap -->
    <link rel="stylesheet" th:href="@{/css/goci-curation.css}"/>
    <link rel="stylesheet" th:href="@{/css/icons/flaticon.css}"/>
    <link rel="stylesheet" th:href="@{/css/goci-color-palette-1.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css"/>
    <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var contextPath = /*[[@{/}]]*/'';
        console.log(contextPath);

        /*]]>*/
    </script>

    <!--https://www.datatables.net/-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'/>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css'/>

    <link rel="stylesheet" th:href="@{/css/general.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
</head>
<body>

<!--Include header-->
<div th:include="fragments/header :: navbar"></div>


<div class="container-fluid">
    <div class="row" style="margin-top: -30px;" id="publication-summary-view">
        <div class="col-md-offset-1  col-md-10">
            <div class="panel card-3 animated fadeIn">

                <div id="extra-form-view" class="animated fadeIn">
                    <h6 style="margin-left: 15px; font-weight: 300;">
                        <a th:href="@{/home}">GWAS</a> >> Publication >>
                        <em class="active" th:text="${publication.pubmedId}"></em>
                    </h6>
                    <div class='header'
                         style="border-bottom: 1px solid #c0c0c0; padding-top: 7px; padding-bottom: 7px; background: #EDF8F9;">
                        <h4>
                            <span style="font-weight: normal; margin-left: 15px;"> Publication Information <br/> </span>
                            <small style="font-weight: 300; font-size: 0.6em; margin-left: 15px;">
                                Manage Publication and Studies
                            </small>
                        </h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table row-border display compact" style="border-top: 1px solid #ccc;">
                            <tbody>
                            <tr>
                                <th class="col-md-2"> PubMed ID</th>
                                <td class="col-md-3" id="publicationPubmedId" th:text="${publication.pubmedId}"> ...
                                </td>

                                <th class="col-md-2"> Journal</th>
                                <td class="col-md-3" id="publication-journal" th:text="${publication.publication}">
                                    ...
                                </td>

                                <td class="col-md-2">
                                        <span id="pubmedid_button" style="cursor: pointer;">View in PubMed
                                            <span class="glyphicon glyphicon-new-window external-link"></span>
                                        </span>
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"> First author</th>
                                <td class="col-md-3" id="publication-author"
                                    th:text="${publication.firstAuthor.fullname}"> ...
                                </td>

                                <th class="col-md-2"> Publication date</th>
                                <td class="col-md-3" id="publication-datepublication"
                                    th:text="${#calendars.format(publication.publicationDate,'YYYY-MM-dd')}"> ...
                                </td>

                                <th class="col-md-2">
                                    <span id="europepmc_button" style="cursor: pointer;">View in Europe PMC
                                        <span class="glyphicon glyphicon-new-window external-link"></span>
                                    </span>
                                </th>
                            </tr>
                            <tr>
                                <th style="white-space:nowrap;"> Corresponding Authors</th>
                                <td colspan="4">
                                    <span th:each="author: ${publication.correspondingAuthors}">
                                            <span th:text="${author.fullname}"/>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th style="white-space:nowrap;"> Corresponding Author Emails</th>
                                <td colspan="4">
                                    <span th:each="author: ${publication.correspondingAuthors}">
                                            <span th:text="${author.correspondingAuthorEmail}"/>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th> Title</th>
                                <td colspan="4" id="publication-title" th:text="${publication.title}"></td>
                            </tr>
                            <tr>
                                <th> Authors</th>
                                <td colspan="4" style="white-space: normal;">
                                    <span th:each="author: ${publication.authors}">
                                        <span th:text="${author.fullname}"/>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row hidden" style="margin-top: -30px;" id="upload-form-view">
        <div class="col-md-offset-1  col-md-10">
            <div class="panel card-3 animated fadeIn">

                <!-- Disease Trait Upload Form Area -->
                <h6 style="margin-left: 15px; font-weight: 300;"> Bulk Upload Reported Disease Trait
                    <a id="trait-download-file" href="#" style="float: right; margin-right: 30px; color: #f44336">
                        <i class='fa fa-download'></i> Download Disease Trait Template File
                    </a>
                </h6>
                <div class='header'
                     style="border-bottom: 1px solid #c0c0c0; padding-top: 7px; padding-bottom: 7px; background: #EDF8F9;">
                    <h4>
                        <span style="font-weight: normal; margin-left: 15px;"> Upload Reported Disease Trait file for Studies<br/> </span>
                        <small style="font-weight: 300; font-size: 0.6em; margin-left: 15px;"> Ensure you upload CSV
                            File of the required type only </small>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class='form-group col-md-12'>
                        <label style='width:100%; cursor:pointer; margin-top: 7px;'>
                            <div id='replace'>
                                <div id='output' class='styleFile'> Click to upload csv or tsv Trait File</div>
                            </div>
                            <input type='file' id='bulk-upload' style='display:none;'
                                   accept='.csv,.xls,.tsv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'/>
                        </label>
                    </div>
                    <button id="upload-data-button" class='btn btn-primary mt-25' style='float:right;'>
                        <i class='fa fa-upload'></i> Upload Reported Traits
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="row hidden" style="margin-top: -30px;" id="form-operation-view">
        <div class="col-md-12">

            <div class="row">
                <div id="loadingResults" class="col-md-offset-4">
                    <button class="btn btn-lg">
                                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"
                                          style="margin-right: 1em;"></span>
                    </button>
                </div>
            </div>

            <div class="panel card-3 animated fadeIn">


                <h6 style="margin-left: 15px; font-weight: 300;"> Manage Publication Data </h6>
                <div class='header'
                     style="border-bottom: 1px solid #c0c0c0; padding-top: 7px; padding-bottom: 7px; background: #EDF8F9;">
                    <h4>
                        <span style="font-weight: normal; margin-left: 15px;"> Top 5 Disease Trait by Studies Graph <br/> </span>
                        <small style="font-weight: 300; font-size: 0.6em; margin-left: 15px;"> Disease trait table
                            below: </small>
                    </h4>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="form-inline col-sm-6" style="margin-bottom: 0.3em">
                            <label for="openTargets" class="col-form-label col-md-3">Open Targets:</label>
                            <div class="select2-select col-md-4" id="open-targets" th:text="${publication.openTargets}"
                                 style="width: 300px">-
                            </div>
                            <a role="button" type="submit" id="changeOpenTargets"
                               class="btn btn-primary item-right btn-sm">Change Status</a>
                        </div>
                        <div class="form-inline col-sm-6">
                            <label for="openTargets" class="col-form-label col-md-3">User requested:</label>
                            <div class="item-left col-md-4" id="user-requested"
                                 th:text="${publication.userRequested}" style="width: 300px">-
                            </div>

                            <a role="button" type="submit" id="changeUserRequested"
                               class="btn btn-primary btn-sm">Change Status
                            </a>
                        </div>
                    </div>

                    <div class="row">

                        <div class="form-inline col-sm-6">
                            <label for="curationStatus" class="col-form-label col-md-3">Curator Status:</label>
                            <select name="curationStatus" class="form-control select2-select col-md-4"
                                    style="width: 300px"
                                    id="curationStatus">
                                <!--Empty value for first entry-->
                                <option value=""></option>
                                <option th:each="curationStatus : ${curationstatuses}"
                                        th:value="${curationStatus.id}"
                                        th:text="${curationStatus.status}"
                                        th:unless="${curationStatus.status} == 'Unpublished from catalog' ">
                                </option>
                            </select>
                            <a role="button" type="submit" id="assignStatus"
                               class="btn btn-primary btn-sm">Save Status
                            </a>
                        </div>
                        <div class="form-inline col-sm-6">
                            <label for="curator" class="col-form-label col-md-3">Curator:</label>
                            <select name="curator" class="form-control select2-select col-md-4"
                                    style="width: 300px"
                                    id="curator">
                                <!--Empty value for first entry-->
                                <option value=""></option>
                                <option th:each="curator : ${curators}"
                                        th:value="${curator.id}"
                                        th:text="${curator.lastName}"></option>
                            </select>
                            <a role="button" type="submit" id="assignCurator"
                               class="btn btn-primary btn-sm">Save Curator
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-inline col-sm-6">
                            <label for="diseaseTrait" class="control-label col-md-3">Reported trait</label>

                            <select name="diseaseTrait" id="diseaseTrait"
                                    style="width: 300px"
                                    class="form-control select2-select col-md-4">
                                <!-- Empty value for first entry-->
                                <option value=""></option>
                                <option th:each="diseaseTrait : ${diseaseTraits}"
                                        th:value="${diseaseTrait.id}"
                                        th:text="${diseaseTrait.trait}"></option>
                            </select>
                            <a role="button" type="submit" id="saveDiseaseTrait"
                               class="btn btn-primary btn-sm">Save Disease Trait
                            </a>
                        </div>
                        <div class="form-inline col-sm-6">
                            <label for="EFOTrait" class="control-label col-md-3">Main EFO trait</label>

                            <select name="EFOTrait" th:field="*{efoTraits}" class="form-control select2-select col-md-4"
                                    style="width: 300px"
                                    multiple="multiple" id="EFOTrait">
                                <option th:each="efoTrait : ${efoTraits}"
                                        th:value="${efoTrait.id}"
                                        th:text="${efoTrait.trait}"></option>
                            </select>
                            <a role="button" type="submit" id="saveEfoTrait"
                               class="btn btn-primary btn-sm">Save EFO Trait
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-inline col-sm-6">
                            <label for="backgroundTrait" class="control-label col-md-3">Background trait (author
                                submitted)</label>

                            <select name="backgroundTrait" id="backgroundTrait"
                                    style="width: 300px"
                                    class="form-control select2-select col-md-4">
                                <!-- Empty value for first entry-->
                                <option value=""></option>
                                <option th:each="diseaseTrait : ${diseaseTraits}"
                                        th:value="${diseaseTrait.id}"
                                        th:text="${diseaseTrait.trait}"></option>
                            </select>
                            <a role="button" type="submit" id="saveBackgroundTrait"
                               class="btn btn-primary btn-sm">Save Background Trait
                            </a>
                        </div>
                        <div class="form-inline col-sm-6">
                            <label for="mappedBackgroundTraits" class="control-label col-md-3">Background EFO
                                Trait</label>

                            <select name="mappedBackgroundTraits"
                                    class="form-control select2-select col-md-4"
                                    style="width: 300px"
                                    multiple="multiple" id="mappedBackgroundTraits">
                                <option th:each="efoTrait : ${efoTraits}"
                                        th:value="${efoTrait.id}"
                                        th:text="${efoTrait.trait}"></option>
                            </select>
                            <a role="button" type="submit" id="saveBackgroundEfos"
                               class="btn btn-primary btn-sm">Save Background EFOs
                            </a>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px; margin-left: 20px;">
                        <a role="button" type="submit" id="deleteStudies"
                           class="btn btn-primary btn-sm">Delete Selected Studies
                        </a>
                        <a role="button" type="submit" id="addSumStats"
                           class="btn btn-primary btn-sm">Add Summary Stats
                        </a>
                        <a role="button" type="submit" id="approveAssociations"
                           class="btn btn-primary btn-sm">Approve associations
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="row" style="margin-top: -30px;">
        <div class="col-md-12">
            <div class="panel card-3 animated fadeIn">
                    <div id="publication-table-view" class="panel-body">
                                <div class="table-responsive">
                                    <table id="submissionDataTable" class="table table-striped table-bordered"
                                           cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th><input type="checkbox" id="select_all" class="checkbox"/></th>
                                            <th style="width:10%">Study Id</th>
                                            <th style="width:10%">Study Accession</th>
                                            <th style="width:10%">Has SumStats</th>
                                            <th style="width:10%">Has Study Files</th>
                                            <th style="width:20%">Disease Trait</th>
                                            <th style="width:20%">EFO Traits</th>
                                            <th style="width:20%">Background Trait</th>
                                            <th style="width:20%">Background EFO Traits</th>
                                            <th style="width:10%">Association Count</th>
                                            <th style="width:10%">Curation Status</th>
                                            <th style="width:10%">Curator</th>
                                            <th style="width:10%">Study Tag</th>
                                            <th style="width:10%">Duplicate</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="study,iter : ${publication.studies}">
                                            <td><input type="checkbox" class="table-checkbox checkbox"
                                                       th:id="${study.id}"/></td>
                                            <td><a th:href="@{/studies/{studyId}(studyId=${study.id})}"
                                                   th:text="${study.id}"></a></td>
                                            <td>
                                                <a th:href="@{https://www.ebi.ac.uk/gwas/studies/{accessionId}(accessionId=${study.accessionId})}"
                                                   th:text="${study.accessionId}"></a></td>
                                            <td><span th:text="${study.fullPvalueSet}"></span></td>
                                            <td><span th:if="${studyFiles.contains(study.id.toString())}"><a
                                                    th:href="@{/studies/{studyId}/studyfiles(studyId=${study.id})}"
                                                    th:text="${study.id}"></a></span></td>
                                            <td><span
                                                    th:text="${study.diseaseTrait} ? ${study.diseaseTrait.trait}: ''"></span>
                                            </td>
                                            <td><span th:each="efo: ${study.efoTraits}"><a
                                                    th:href="@{//www.ebi.ac.uk/gwas/efotraits/{trait}(trait=${efo.shortForm})}"
                                                    th:text="${efo.trait}"></a><br/></span></td>
                                            <td><span
                                                    th:text="${study.backgroundTrait} ? ${study.backgroundTrait.trait}: ''"></span>
                                            </td>
                                            <td><span th:each="efo: ${study.mappedBackgroundTraits}"><a
                                                    th:href="@{//www.ebi.ac.uk/gwas/efotraits/{trait}(trait=${efo.shortForm})}"
                                                    th:text="${efo.trait}"></a><br/></span></td>
                                            <td><span th:text="${study.getAssociations().size()}"></span></td>
                                            <td><span th:text="${study.housekeeping.curationStatus.status}"></span></td>
                                            <td><span
                                                    th:text="(${study.housekeeping.curator.firstName} ? ${study.housekeeping.curator.firstName} + ' ' : '') + ${study.housekeeping.curator.lastName}"></span>
                                            </td>
                                            <td><span th:text="${study.studyTag}"></span></td>
                                            <td><span th:text="${study.tagDuplicatedNote}"></span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </div>
            </div>
        </div>
    </div>


    <!-- Floating Action Buttons -->
    <div class="adminActions">
        <input type="checkbox" name="adminToggle" class="adminToggle"/>
        <a class="adminButton"><i class="fa fa-cog"></i></a>
        <div class="adminButtons">
            <a id="activate-publication-summary-view" class="tool" data-tip="Summary" tabindex="5"><i
                    class="fa fa-book"></i></a>
            <a id="activate-upload-form-view" class="tool" data-tip="Bulk Upload" tabindex="2"><i
                    class="fa fa-upload"></i></a>
            <a id="activate-form-operation-view" class="tool" data-tip="Manage Studies" tabindex="3">
                <i class="fas fa-chart-line"></i></a>

        </div>
    </div>

    <!-- Toast Notification -->
    <div id="toast">
        <div id="img"><i class="far fa-bell-slash"></i></div>
        <div id="toast-message">A notification message..</div>
    </div>


    <!--Include footer-->
    <div th:include="fragments/footer :: page_footer"></div>
</div>

<script th:src="@{/js/goci-global.js}"></script>
<script th:src="@{/js/publication-page.js}"></script>
<script th:src="@{/js/goci-publication-page.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $("#pubmedid_button").attr('onclick', "window.open('https://www.ncbi.nlm.nih.gov/pubmed/?term=" +
            [[${publication.pubmedId}]] +
            "',    '_blank')");
        $("#europepmc_button").attr('onclick', "window.open('https://europepmc.org/article/MED/" +
            [[${publication.pubmedId}]] +
            "',    '_blank')");
    })
    /*]]>*/
</script>

</body>
</html>
