<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Curation Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script href="webjars/bootstrap/3.3.5/css/bootstrap.min.js"
            th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.js}"></script>
    <script src="webjars/jquery/2.1.4/jquery.min.js" th:href="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <!-- CSS -->
    <link href="webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet"/>

</head>
<body>

<!--Include header-->
<div th:include="header :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a th:href="@{/reports}">Full overview</a></li>
            <li class="active"><a href="#">Yearly Curator Totals</a></li>
        </ul>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="pull-right">
            <div id="filterParametersForm">

                <form class="form-inline" name="filterParametersForm" role="form" method="post"
                      th:action="@{/reports(filters=true)}"
                      th:object="${studySearchFilter} ">

                    <div class="form-group">
                        <label for="year" class="control-label">Year:</label>
                        <select name="year" class="form-control select2-select"
                                th:field="*{yearFilter}" id="year">
                            <!-- Empty value for first entry-->
                            <option value=""></option>
                            <option th:each="year : ${years}"
                                    th:value="${year}"
                                    th:text="${year}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="month" class="control-label">Month:</label>
                        <select name="month" th:field="*{monthFilter}"
                                class="form-control select2-select" id="month">
                            <!-- Empty value for first entry-->
                            <option value=""></option>
                            <option th:each="month : ${months}"
                                    th:value="${month}"
                                    th:text="${month}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table id="mainTable" class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th class="col-md-1">Year</th>
                    <th class="col-md-2">Curator</th>
                    <th class="col-md-2">Total number per curator</th>
                    <th class="col-md-3">Curation Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="yearlyTotalsSummaryView: ${yearlyTotalsSummaryViews}">
                    <td th:text="${yearlyTotalsSummaryView.year} ?: 'null'"></td>
                    <td th:text="${yearlyTotalsSummaryView.curator} ?: 'null'"></td>
                    <td th:text="${yearlyTotalsSummaryView.curatorTotal} ?: 'null'"></td>
                    <td th:text="${yearlyTotalsSummaryView.curationStatus} ?: 'null'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>