<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Curation Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!--https://www.datatables.net/-->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css"/>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="//cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>

</head>
<body>

<!--Include header-->
<div th:include="fragments/header :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a th:href="@{/reports/monthly}">Monthly Curator Totals</a></li>
            <li><a th:href="@{/reports/yearly}">Yearly Curator Totals</a></li>
            <li><a th:href="@{/reports/weekly}">Weekly Curator Totals</a></li>
            <li class="active"><a href="#">Weekly progress</a></li>
        </ul>
    </div>
</div>
<br/>
<br/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table id="progressTable" class="table table-hover table-bordered"
                   data-toggle="table">
                <thead>
                <tr>
                    <th class="col-md-1" data-sortable="true">Week Start Date</th>
                    <th class="col-md-1" data-sortable="true">Studies Created</th>
                    <th class="col-md-2" data-sortable="true">Studies Level 1 Completed</th>
                    <th class="col-md-2" data-sortable="true">Studies Level 2 Completed</th>
                    <th class="col-md-2" data-sortable="true">Studies Published</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="view: ${weeklyProgressViews}">
                    <td th:text="${view.weekDate != null} ? ${#calendars.format(view.weekDate, 'dd MMMM yyyy')} : ''">
                        2022-22-22
                    </td>
                    <td th:text="${#sets.size(view.studiesCreated)} ?: 'null'">1000</td>
                    <td th:text="${#sets.size(view.studiesLevel1Completed)} ?: 'null'">1000</td>
                    <td th:text="${#sets.size(view.studiesLevel2Completed)} ?: 'null'">1000</td>
                    <td th:text="${#sets.size(view.studiesPublished)} ?: 'null'">1000</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var table = $('#progressTable').DataTable({
                                                      info: false,
                                                      paging: false
                                                  });
    });
</script>


</body>
</html>