<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="monthly_search_filter">
    <br/>
    <br/>

    <div class="panel panel-info col-md-10 col-md-offset-1">
        <div class="panel-heading">
            <h3 class="panel-title">Filter options</h3>
        </div>
        <div class="panel-body">
            <div id="monthlyFilterParametersForm">

                <form class="form-inline" name="curatorFilterParametersForm" role="form" method="post"
                      th:action="@{/reports/monthly(filters=true)}"
                      th:object="${studySearchFilter} ">

                    <div class="form-group">
                        <label for="curationStatus" class="control-label">Curation status</label>
                        <select name="curationStatus" class="form-control select2-select"
                                th:field="*{statusSearchFilterId}" id="curationStatus">
                            <!-- Empty value for first entry-->
                            <option value=""></option>
                            <option th:each="curationStatus : ${curationstatuses}"
                                    th:value="${curationStatus.id}"
                                    th:text="${curationStatus.status}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="curator" class="control-label">Curator</label>
                        <select name="curator" th:field="*{curatorSearchFilterId}"
                                class="form-control select2-select" id="curator">
                            <!-- Empty value for first entry-->
                            <option value=""></option>
                            <option th:each="curator : ${curators}"
                                    th:value="${curator.id}"
                                    th:text="${curator.lastName}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="year" class="control-label">Year</label>
                        <select name="year" class="form-control select2-select"
                                th:field="*{yearFilter}" id="year">
                            <!-- Empty value for first entry-->
                            <option value=""></option>
                            <option th:each="year : ${years}"
                                    th:value="${year}"
                                    th:text="${year}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="month" class="control-label">Month</label>
                        <select name="month" th:field="*{monthFilter}"
                                class="form-control select2-select" id="month">
                            <!-- Empty value for first entry-->
                            <!-- Some thymeleaf wrangling is used to get the month name
                            or the number value, essentially a false date is created and then the month name displayed-->
                            <option value=""></option>
                            <option th:each="month : ${months}"
                                    th:value="${month}"
                                    th:text="${#dates.monthName(#dates.create('2015',month, '01'))} ?: 'null'"></option>
                        </select>
                    </div>


                    <div class="form-group">
                        <div>
                            <button type="submit"
                                    class="btn btn-primary btn-sm">Filter
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <br/>
        </div>
    </div>
</div>

<div th:fragment="yearly_search_filter">
    <br/>
    <br/>

    <div class="panel panel-info col-md-10 col-md-offset-1">
        <div class="panel-heading">
            <h3 class="panel-title">Filter options</h3>
        </div>
        <div class="panel-body">
            <div id="yearlyFilterParametersForm">

                <form class="form-inline" name="curatorFilterParametersForm" role="form" method="post"
                      th:action="@{/reports/yearly(filters=true)}"
                      th:object="${studySearchFilter} ">

                    <div class="form-group">
                        <label for="curationStatus" class="control-label">Curation status</label>
                        <select name="curationStatus" class="form-control select2-select"
                                th:field="*{statusSearchFilterId}" id="curationStatus">
                            <!-- Empty value for first entry-->
                            <option value=""></option>
                            <option th:each="curationStatus : ${curationstatuses}"
                                    th:value="${curationStatus.id}"
                                    th:text="${curationStatus.status}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="curator" class="control-label">Curator</label>
                        <select name="curator" th:field="*{curatorSearchFilterId}"
                                class="form-control select2-select" id="curator">
                            <!-- Empty value for first entry-->
                            <option value=""></option>
                            <option th:each="curator : ${curators}"
                                    th:value="${curator.id}"
                                    th:text="${curator.lastName}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="year" class="control-label">Year</label>
                        <select name="year" class="form-control select2-select"
                                th:field="*{yearFilter}" id="year">
                            <!-- Empty value for first entry-->
                            <option value=""></option>
                            <option th:each="year : ${years}"
                                    th:value="${year}"
                                    th:text="${year}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div>
                            <button type="submit"
                                    class="btn btn-primary btn-sm">Filter
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <br/>
        </div>
    </div>
</div>

</body>
</html>