<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Curation Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="/webjars/jquery/2.1.4/dist/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/dist/jquery.min.js}"></script>

    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

    <script src="/webjars/bootstrap-table/1.9.0/src/bootstrap-table.js"
            th:src="@{/webjars/bootstrap-table/1.9.0/src/bootstrap-table.js}"></script>

    <link href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet"/>

    <link href="/webjars/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>

    <link href="/webjars/bootstrap-table/1.9.0/src/bootstrap-table.css"
          th:href="@{/webjars/bootstrap-table/1.9.0/src/bootstrap-table.css}"
          rel="stylesheet"/>

</head>
<body>

<!--Include header-->
<div th:include="header :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a th:href="@{/reports/monthly}">Monthly Curator Totals</a></li>
            <li class="active"><a href="#">Yearly Curator Totals</a></li>
        </ul>
    </div>
</div>

<!--Include filter options-->
<div th:include="reports_filter :: yearly_search_filter"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table id="mainTable" class="table table-hover table-bordered" data-toggle="table" data-show-columns="true">
                <thead>
                <tr>
                    <th class="col-md-1" data-sortable="true">Year</th>
                    <th class="col-md-2" data-sortable="true">Curator</th>
                    <th class="col-md-2" data-sortable="true">Total number per curator</th>
                    <th class="col-md-3" data-sortable="true">Curation Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="yearlyTotalsSummaryView: ${yearlyTotalsSummaryViews}">
                    <td th:text="${yearlyTotalsSummaryView.year} ?: 'null'"></td>
                    <td th:text="${yearlyTotalsSummaryView.curator} ?: 'null'"></td>
                    <td th:text="${yearlyTotalsSummaryView.curatorTotal} ?: 'null'"></td>
                    <td th:text="${yearlyTotalsSummaryView.curationStatus} ?: 'null'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>