<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Curation Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script type="text/javascript"
            charset="utf8"
            src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css"/>

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>


    <script type="text/javascript"
            charset="utf8"
            src="//cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>



    <!--<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />-->
    <link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet" />

    <!--<script type="text/javascript"-->
    <!--charset="utf8"-->
    <!--src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>-->
    <script type="text/javascript"
            charset="utf8"
            src="//cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="//cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="//cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="//cdn.datatables.net/buttons/1.1.2/js/buttons.colVis.min.js"></script>
    <!-- End JS for DataTable -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>


    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet"/>

    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          th:href="@{https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/jumbotron.css}" rel="stylesheet"/>
    <link th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet"/>

    <!-- Additional styling on top of bootstrap -->
    <link rel="stylesheet" th:href="@{/css/goci-curation.css}"/>
    <link rel="stylesheet" th:href="@{/css/icons/flaticon.css}"/>
    <link rel="stylesheet" th:href="@{/css/goci-color-palette-1.css}"/>
</head>
<body>

<!--Include header-->
<div th:include="fragments/header :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a th:href="@{/reports/monthly}">Monthly Curator Totals</a></li>
            <li><a th:href="@{/reports/yearly}">Yearly Curator Totals</a></li>
            <li><a th:href="@{/reports/weekly}">Weekly Curator Totals</a></li>
            <li><a th:href="@{/reports/weekly_progress}">Overall Weekly progress</a></li>
            <li class="active"><a href="#">Open Targets Weekly progress</a></li>
            <li><a th:href="@{/reports/studies_backlog}">Studies Backlog Graph</a></li>
            <li><a th:href="@{/reports/stats}">Stats</a></li>
        </ul>
    </div>
</div>
<br/>
<br/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table id="progressTable" class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>Week Start Date</th>
                    <th>Created Publications</th>
                    <th>Created Publication IDs</th>
                    <th>Created Studies</th>
                    <th>Created Study IDs</th>
                    <th>Level 1 Completed Publications</th>
                    <th>Level 1 Completed Publication IDs</th>
                    <th>Level 1 Completed Studies</th>
                    <th>Level 1 Completed Study IDs</th>
                    <th>Level 2 Completed Publications</th>
                    <th>Level 2 Completed Publications IDs</th>
                    <th>Level 2 Completed Studies</th>
                    <th>Level 2 Completed Study IDs</th>
                    <th>Published Publications</th>
                    <th>Published Publication IDs</th>
                    <th>Published Studies </th>
                    <th>Published Study IDs</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="view: ${weeklyProgressViews}">
                    <!-- Week Start Date -->
                    <td th:text="${view.weekDate != null} ? ${#calendars.format(view.weekDate, 'dd MMMM yyyy')} : ''">
                        2022-22-22
                    </td>

                    <!-- Created Publications -->
                    <td th:text="${#sets.size(view.publicationsCreated)} ?: 'null'"></td>
                    <!-- Created Publications - List of PMID IDs -->
                    <td>
                        <span th:if="${#lists.isEmpty(view.publicationsCreated)}">NA</span>
                        <span th:if="${not #lists.isEmpty(view.publicationsCreated)}">
                            <ul class="list-group">
                                <a class="list-group-item list-group-item-info"
                                   th:each="pmid : ${view.publicationsCreated}"
                                   th:text="${pmid}" th:href="@{/studies(page=1,pubmed=${pmid})}"></a>
                            </ul>
                        </span>
                    </td>

                    <!-- Created Studies -->
                    <td th:text="${#sets.size(view.studiesCreated)} ?: 'null'">1000</td>
                    <!-- Created Studies - List of Study IDs -->
                    <td>
                        <span th:if="${#lists.isEmpty(view.studiesCreated)}">NA</span>
                        <span th:if="${not #lists.isEmpty(view.studiesCreated)}">
                            <ul class="list-group">
                                <a class="list-group-item list-group-item-info"
                                   th:each="study_id : ${view.studiesCreated}"
                                   th:text="${study_id}" th:href="@{/studies/{studyId}(studyId=${study_id})}"></a>
                            </ul>
                        </span>
                    </td>

                    <!-- Level 1 Completed Publications -->
                    <td th:text="${#sets.size(view.publicationsLevel1Completed)} ?: 'null'"></td>
                    <!-- Level 1 Completed Publications - List of PMID IDs -->
                    <td>
                        <span th:if="${#lists.isEmpty(view.publicationsLevel1Completed)}">NA</span>
                        <span th:if="${not #lists.isEmpty(view.publicationsLevel1Completed)}">
                            <ul class="list-group">
                                <a class="list-group-item list-group-item-info"
                                   th:each="pmid : ${view.publicationsLevel1Completed}"
                                   th:text="${pmid}" th:href="@{/studies(page=1,pubmed=${pmid})}"></a>
                            </ul>
                        </span>
                    </td>

                    <!-- Level 1 Completed Studies -->
                    <td th:text="${#sets.size(view.studiesLevel1Completed)} ?: 'null'">1000</td>
                    <!-- Level 1 Completed Studies - List of Study IDs -->
                    <td>
                        <span th:if="${#lists.isEmpty(view.studiesLevel1Completed)}">NA</span>
                        <span th:if="${not #lists.isEmpty(view.studiesLevel1Completed)}">
                            <ul class="list-group">
                                <a class="list-group-item list-group-item-info"
                                   th:each="study_id : ${view.studiesLevel1Completed}"
                                   th:text="${study_id}" th:href="@{/studies/{studyId}(studyId=${study_id})}"></a>
                            </ul>
                        </span>
                    </td>

                    <!-- Level 2 Completed Publications -->
                    <td th:text="${#sets.size(view.publicationsLevel2Completed)} ?: 'null'"></td>
                    <!-- Level 2 Completed Publications - List of PMID IDs -->
                    <td>
                        <span th:if="${#lists.isEmpty(view.publicationsLevel2Completed)}">NA</span>
                        <span th:if="${not #lists.isEmpty(view.publicationsLevel2Completed)}">
                            <ul class="list-group">
                                <a class="list-group-item list-group-item-info"
                                   th:each="pmid : ${view.publicationsLevel2Completed}"
                                   th:text="${pmid}" th:href="@{/studies(page=1,pubmed=${pmid})}"></a>
                            </ul>
                        </span>
                    </td>

                    <!-- Level 2 Completed Studies -->
                    <td th:text="${#sets.size(view.studiesLevel2Completed)} ?: 'null'">1000</td>
                    <!-- Level 2 Completed Studies - List of Study IDs -->
                    <td>
                        <span th:if="${#lists.isEmpty(view.studiesLevel2Completed)}">NA</span>
                        <span th:if="${not #lists.isEmpty(view.studiesLevel2Completed)}">
                            <ul class="list-group">
                                <a class="list-group-item list-group-item-info"
                                   th:each="study_id : ${view.studiesLevel2Completed}"
                                   th:text="${study_id}" th:href="@{/studies/{studyId}(studyId=${study_id})}"></a>
                            </ul>
                        </span>
                    </td>

                    <!-- Published Publications -->
                    <td th:text="${#sets.size(view.publicationsPublished)} ?: 'null'"></td>
                    <!-- Published Publications - List of PMID IDs -->
                    <td>
                        <span th:if="${#lists.isEmpty(view.publicationsPublished)}">NA</span>
                        <span th:if="${not #lists.isEmpty(view.publicationsPublished)}">
                            <ul class="list-group">
                                <a class="list-group-item list-group-item-info"
                                   th:each="pmid : ${view.publicationsPublished}"
                                   th:text="${pmid}" th:href="@{/studies(page=1,pubmed=${pmid})}"></a>
                            </ul>
                        </span>
                    </td>

                    <!-- Published Studies -->
                    <td th:text="${#sets.size(view.studiesPublished)} ?: 'null'">1000</td>
                    <!-- Published Studies - List of Study IDs -->
                    <td>
                        <span th:if="${#lists.isEmpty(view.studiesPublished)}">NA</span>
                        <span th:if="${not #lists.isEmpty(view.studiesPublished)}">
                            <ul class="list-group">
                                <a class="list-group-item list-group-item-info"
                                   th:each="study_id : ${view.studiesPublished}"
                                   th:text="${study_id}" th:href="@{/studies/{studyId}(studyId=${study_id})}"></a>
                            </ul>
                        </span>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:include="fragments/footer :: page_footer"></div>

<script>
    $(document).ready(function() {

//        Get current date to use in filename
        var d = new Date();
        var curr_date = d.getDate();
        var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
            "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

        var curr_month = monthNames[d.getMonth()];
        var curr_year = d.getFullYear();
        var full_current_date = (curr_date + "_" + curr_month + "_" + curr_year);

        var table = $('#progressTable').DataTable({
            info: false,
            paging: false,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'colvis',
                    columns: ':gt(0)',
                    postfixButtons: ['colvisRestore']
                },
                {
                    extend: 'csv',
                    text: 'Save to CSV',
                    filename: 'targeted_weekly_progress_totals-'+full_current_date
                },
            ],
            "columnDefs": [
                {"targets": 1},
                {"targets": 2},
                {"targets": 3},
                {"targets": 4},
                {"targets": 5},
                {"targets": 6},
                {"targets": 7},
                {"targets": 8},
                {"targets": 9},
                {"targets": 10},
                {"targets": 11},
                {"targets": 12},
                {"targets": 13},
                {"targets": 14},
                {"targets": 15},
                {"targets": 16},
            ],
            "order": [[ 0, "desc" ]]
        });
    });
</script>
</body>
</html>