<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Curation Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script href="webjars/bootstrap/3.3.5/css/bootstrap.min.js" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.js}"></script>
    <script src="webjars/jquery/2.1.4/jquery.min.js" th:href="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <!-- CSS -->
    <link href="webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet"/>

</head>
<body>

<!--Include header-->
<div th:include="header :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Full overview</a></li>
            <li><a>Yearly Curator Totals</a></li>
        </ul>
    </div>
</div>

<!--Include overview table-->
<div th:include="reports_overview :: reports_overview"></div>

</body>
</html>