<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Curation Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta charset="utf-8"/>
    <link rel="icon" th:href="@{/icons/favicon.ico}"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <link th:href="@{/css/select2-bootstrap.css}" rel="stylesheet"/>

   <!-- Bootstrap core CSS -->
    <!--<link href="../../static/css/bootstrap.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>-->
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css"
          rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-table.css}" rel="stylesheet"/>
    <!--<link href="../static/css/bootstrap-theme.css" th:href="@{css/bootstrap-theme.min.css}" rel="stylesheet"/>-->

   <!-- Custom styles for this template -->
    <link th:href="@{/css/jumbotron.css}" rel="stylesheet"/>
    <link th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet"/>

   <!-- Additional styling on top of bootstrap -->
    <link rel="stylesheet" th:href="@{/css/goci-curation.css}"/>
    <link rel="stylesheet" th:href="@{/css/icons/flaticon.css}"/>
    <link rel="stylesheet" th:href="@{/css/goci-color-palette-1.css}"/>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script th:src="@{/js/console-plugin.js}"></script>

</head>
<body>

<!--Include header-->
<div th:include="fragments/header :: navbar"></div>

<!--Include filter-->
<div th:include="fragments/study_filter :: filter"></div>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <!--Alerts-->
            <div class="container-fluid" th:if="${!#strings.isEmpty(studySnpsNotApproved)}">
                <div class="row">
                    <div class="col-md-8">
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong th:text="${studySnpsNotApproved}">Note:</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid" th:if="${!#strings.isEmpty(blankAssignee)}">
                <div class="row">
                    <div class="col-md-8">
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong th:text="${blankAssignee}">Note:</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid" th:if="${!#strings.isEmpty(blankStatus)}">
                <div class="row">
                    <div class="col-md-8">
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong th:text="${blankStatus}">Note:</strong>
                        </div>
                    </div>
                </div>
            </div>
            <br/>


            <div>
                <ul class="nav nav-pills">
                    <li class="active"><a th:href="@{/studies}">All studies</a></li>
                    <br/>
                </ul>
            </div>

            <!--Table-->
            <!--Two different table views available depending on if any results are found-->
            <div th:if="${totalStudies == 0}" th:include="fragments/studies_emptytable :: empty_table"></div>
            <div th:if="${totalStudies &gt; 0}" th:include="fragments/studies_table_with_results :: results_table"></div>
        </div>

        <!--Only show bar if more that one study available and pagination is set to true-->
        <div th:if="${totalStudies &gt; 1 and #bools.isTrue(pagination) }"
             th:include="fragments/pagination_bar :: pagination_bar"></div>
    </div>
</div>

<div th:include="fragments/footer :: page_footer"></div>

</body>
</html>