<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Curation Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<nav role="navigation" class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">GWAS</a>
    </div>

    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a th:href="@{/studies}">Home</a></li>
            <li><a th:href="@{/studies/new}">Add Study</a></li>
            <li><a href="#">Count Data</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid" th:object="${study}">
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Study Details</a></li>
            <li><a th:href="@{/studies/{studyId}/associations(studyId=*{id})}">Association</a></li>
            <li><a th:href="@{/studies/{studyId}/sampledescription(studyId=*{id})}">Sample Information</a></li>
            <li><a th:href="@{/studies/{studyId}/housekeeping(studyId=*{id})}">Housekeeping</a></li>
        </ul>
    </div>
</div>

<br></br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal" th:object="${study}">
                <div class="form-group">
                    <label for="inputAuthor" class="control-label col-md-2">Author</label>

                    <div class="col-md-10">
                        <input type="text" th:field="*{author}" class="form-control" id="inputAuthor"></input>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputTitle" class="control-label col-md-2">Title</label>

                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputTitle" th:field="*{title}"></input>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPublication" class="control-label col-md-2">Publication</label>

                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputPublication"
                               th:field="*{publication}"></input>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPubmed" class="control-label col-md-2">Pubmed</label>

                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputPubmed" th:field="*{pubmedID}"></input>
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputStudyDate" class="control-label col-md-2">Study Date</label>

                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputStudyDate" th:field="*{studyDate}"></input>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputDiseaseTrait" class="control-label col-md-2">Disease Trait</label>

                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputDiseaseTrait"
                               th:field="*{diseaseTrait.Trait}"></input>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPlatform" class="control-label col-md-2">Platform</label>

                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputPlatform" th:field="*{platform}"></input>
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputEFOTrait" class="control-label col-md-2">EFO Trait</label>


                    <div class="col-md-10">
                        <!--<input type="text" class="form-control" id="inputEFOTrait  " th:field="*{efoTraits}"></input>-->

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Trait Name</th>
                                <th>URI</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="efoTrait : *{efoTraits}">
                                <td th:text="${efoTrait.trait}"></td>
                                <td th:text="${efoTrait.uri}"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>


                <div class="form-group">
                    <label for="cnv" class="control-label col-md-2">CNV</label>
                    <input id="cnv" type="checkbox" th:field="*{cnv}" th:value="'1'"/>
                </div>

                <div class="form-group">
                    <label for="gxe" class="control-label col-md-2">GxE</label>
                    <input id="gxe" type="checkbox" th:field="*{gxe}" th:value="'1'"/>
                </div>

                <div class="form-group">
                    <label for="gxg" class="control-label col-md-2">GxG</label>
                    <input id="gxg" type="checkbox" th:field="*{gxg}" th:value="'1'"/>
                </div>


            </form>
        </div>
    </div>
</div>


</body>
</html>