<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Curation Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <link href="../static/css/select2-bootstrap.css" th:href="@{/css/select2-bootstrap.css}" rel="stylesheet" />
</head>
<body>

<!--Include header-->
<div th:include="header :: navbar"></div>

<!--Include filter-->
<div th:include="study_filter :: filter"></div>

<br/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <ul class="nav nav-pills">
                <li class="active"><a th:href="@{/studies}">All studies</a></li>
            </ul>

            <div class="well well-sm" th:if="${totalStudies == 0 }">
                <p style="color:grey">No studies to display</p>
            </div>

            <br/>
            <!--Alerts-->
            <div class="container-fluid" th:if="${!#strings.isEmpty(studySnpsNotApproved)}">
                <div class="row">
                    <div class="col-md-8">
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong th:text="${studySnpsNotApproved}">Note:</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid" th:if="${!#strings.isEmpty(blankAssignee)}">
                <div class="row">
                    <div class="col-md-8">
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong th:text="${blankAssignee}">Note:</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid" th:if="${!#strings.isEmpty(blankStatus)}">
                <div class="row">
                    <div class="col-md-8">
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong th:text="${blankStatus}">Note:</strong>
                        </div>
                    </div>
                </div>
            </div>
            <br/>


            <!--Table-->

            <table id="mainTable" class="table table-hover table-bordered" style="font-size: small"
                   th:if="${totalStudies &gt; 0 }">
                <caption id="total" th:text="'Total: '+ ${totalStudies}"></caption>
                <thead>
                <tr>
                    <th></th>
                    <th class="col-md-1">Author
                        <div>
                            <a th:href="@{${uri}(sorttype=authorsortasc)}"
                               class="btn btn-default btn-xs"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                            <a th:href="@{${uri}(sorttype=authorsortdesc)}"
                               class="btn btn-default btn-xs"><span
                                    class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                        </div>
                    </th>
                    <th class="col-md-1">Title
                        <div>
                            <a th:href="@{${uri}(sorttype=titlesortasc)}"
                               class="btn btn-default btn-xs"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                            <a th:href="@{${uri}(sorttype=titlesortdesc)}"
                               class="btn btn-default btn-xs"><span
                                    class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                        </div>
                    </th>
                    <th class="col-md-1">Publication Date (YYYY-MM-DD)
                        <div>
                            <a th:href="@{${uri}(sorttype=publicationdatesortasc)}"
                               class="btn btn-default btn-xs"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                            <a th:href="@{${uri}(sorttype=publicationdatesortdesc)}"
                               class="btn btn-default btn-xs"><span
                                    class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                        </div>
                    </th>
                    <th class="col-md-1">Pubmed ID
                        <div>
                            <a th:href="@{${uri}(sorttype=pubmedsortasc)}"
                               class="btn btn-default btn-xs"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                            <a th:href="@{${uri}(sorttype=pubmedsortdesc)}"
                               class="btn btn-default btn-xs"><span
                                    class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                        </div>
                    </th>
                    <th class="col-md-1">Publication
                        <div>
                            <a th:href="@{${uri}(sorttype=publicationsortasc)}"
                               class="btn btn-default btn-xs"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                            <a th:href="@{${uri}(sorttype=publicationsortdesc)}"
                               class="btn btn-default btn-xs"><span
                                    class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                        </div>
                    </th>

                    <th class="col-md-1">Disease/Trait
                        <div th:if="${totalStudies &gt; 1 and #bools.isTrue(pagination) }">
                            <a th:href="@{${uri}(sorttype=diseasetraitsortasc)}"
                               class="btn btn-default btn-xs"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                            <a th:href="@{${uri}(sorttype=diseasetraitsortdesc)}"
                               class="btn btn-default btn-xs"><span
                                    class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                        </div>
                    </th>
                    <th class="col-md-1">EFO Trait</th>
                    <th class="col-md-2">Curator
                        <div th:if="${totalStudies &gt; 1 and #bools.isTrue(pagination) }">
                            <a th:href="@{${uri}(sorttype=curatorsortasc)}"
                               class="btn btn-default btn-xs"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                            <a th:href="@{${uri}(sorttype=curatorsortdesc)}"
                               class="btn btn-default btn-xs"><span
                                    class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                        </div>
                    </th>
                    <th class="col-md-2">Curation Status
                        <div th:if="${totalStudies &gt; 1 and #bools.isTrue(pagination) }">
                            <a th:href="@{${uri}(sorttype=curationstatussortasc)}"
                               class="btn btn-default btn-xs"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                            <a th:href="@{${uri}(sorttype=curationstatussortdesc)}"
                               class="btn btn-default btn-xs"><span
                                    class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                        </div>
                    </th>
                    <th class="col-md-1">Notes</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="study : ${studies}">
                    <td>
                        <div class="btn-group">
                            <button type="button" data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">
                                Action<span class="caret"></span></button>

                            <ul class="dropdown-menu">
                                <li><a th:href="@{/studies/{studyId}(studyId=${study.id})}">Edit</a></li>
                                <li><a th:href="@{/studies/{studyId}/delete(studyId=${study.id})}">Delete</a>
                                </li>
                                <li>
                                    <a th:href="@{/studies/{studyId}/duplicate(studyId=${study.id})}">Duplicate</a>
                                </li>
                            </ul>
                        </div>
                    </td>

                    <!-- Use a conditional here as a study can have a null attributes-->
                    <!-- Using thymeleaf elvis operator for string, date attributes-->

                    <td th:text="${study.author} ?: '' "></td>
                    <td th:text="${study.title} ?: ''"></td>
                    <td th:text="${study.publicationDate != null } ? ${#dates.format(study.publicationDate,'yyyy-MM-dd')} : ''"></td>
                    <td><p th:text="${study.pubmedId} ?: ''"></p>

                        <div class="btn-group">
                            <button type="button"
                                    data-toggle="dropdown"
                                    class="btn btn-sm btn-default dropdown-toggle">
                                View paper<span class="caret"></span></button>

                            <ul class="dropdown-menu">
                                <li>
                                    <a th:href="@{http://europepmc.org/abstract/MED/{pubmedId}(pubmedId=${study.pubmedId})}"
                                       target="_blank">View in Europe PMC</a></li>
                                <li>
                                    <a th:href="@{http://www.ncbi.nlm.nih.gov/pubmed/?term={pubmedId}(pubmedId=${study.pubmedId})}"
                                       target="_blank">View in PubMed</a></li>

                            </ul>
                        </div>
                    </td>


                    <td th:text="${study.publication} ?: ''"></td>

                    <!--If study has associated disease trait or EFO trait return traits name-->
                    <td th:text="${study.diseaseTrait != null} ? ${study.diseaseTrait.trait} : ''"></td>
                    <td><span th:each="efoTrait: ${study.efoTraits}"
                              th:if="${#arrays.length(study.efoTraits) &gt; 1}"
                              th:text="${efoTrait.trait}+', ' ?: ''"></span>
                            <span th:each="efoTrait: ${study.efoTraits}"
                                  th:if="${#arrays.length(study.efoTraits) == 1}"
                                  th:text="${efoTrait.trait} ?: ''"></span>
                    </td>

                    <!--If study has associated housekeeping object then get the following attributes -->
                    <td>
                        <p th:text="${study.housekeeping != null and study.housekeeping.curator !=null } ? ${study.housekeeping.curator.lastName} : ''"></p>

                        <div id="assignCuratorForm">

                            <form class="form-inline" name="assignCuratorForm" role="form" method="post"
                                  th:action="@{/studies/{studyId}/assign(studyId=${study.id})}"
                                  th:object="${assignee}">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="uri"
                                           th:field="*{uri}"/>
                                </div>

                                <div class="form-group">
                                    <label for="curator" class="control-label"></label>
                                    <select name="curator" th:field="*{curatorId}"
                                            class="form-control select2-select" id="curator">
                                        <!--Empty value for first entry-->
                                        <option value=""></option>
                                        <option th:each="curator : ${curators}"
                                                th:value="${curator.id}"
                                                th:text="${curator.lastName}"></option>
                                    </select>
                                    <button type="submit"
                                            class="btn btn-primary btn-sm">Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </td>

                    <td>
                        <p th:text="${study.housekeeping != null and study.housekeeping.curationStatus != null } ? ${study.housekeeping.curationStatus.status} : ''"></p>

                        <div id="assignStatusForm">

                            <form class="form-inline" name="assignStatusForm" role="form" method="post"
                                  th:action="@{/studies/{studyId}/status_update(studyId=${study.id})}"
                                  th:object="${statusAssignment}">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="uri"
                                           th:field="*{uri}"/>
                                </div>

                                <div class="form-group">

                                    <div class="form-group">
                                        <label for="curationStatus" class="control-label"></label>
                                        <select name="curationStatus" class="form-control select2-select"
                                                th:field="*{statusId}" id="curationStatus">
                                            <!--Empty value for first entry-->
                                            <option value=""></option>
                                            <option th:each="curationStatus : ${curationstatuses}"
                                                    th:value="${curationStatus.id}"
                                                    th:text="${curationStatus.status}"
                                                    th:unless="${curationStatus.status} == 'Unpublished from catalog'"></option>
                                        </select>
                                    </div>

                                    <button type="submit"
                                            class="btn btn-primary btn-sm">Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </td>

                    <td th:text="${study.housekeeping !=null} ? ${study.housekeeping.notes} : ''"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--Only show bar if more that one study available and pagination is set to true-->
        <div th:if="${totalStudies &gt; 1 and #bools.isTrue(pagination) }" th:include="pagination_bar :: pagination_bar"></div>
    </div>
</div>
</body>
</html>