<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Curation Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css"/>
    <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>


</head>
<body>


<div class="container">
    <div class="col-md-12">
        <h2>Error:</h2>
        <p class="lead">Study has SNP associations or ancestry information linked to it, you must delete these first!</p>
    </div>
</div>

<div class="container" th:object="${study}">
    <div class="row">
        <div class="col-md-12 col-md-offset-1">
            <div><a th:href="@{/studies/{studyId}/housekeeping(studyId=*{id})}" class="btn btn-primary">Back to study</a></div>
        </div>
    </div>
</div>


</body>
</html>