<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Curation Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/jumbotron.css}" rel="stylesheet"/>
    <link th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet"/>

    <!-- Additional styling on top of bootstrap -->
    <link rel="stylesheet" th:href="@{/css/goci-curation.css}"/>
    <link rel="stylesheet" th:href="@{/css/icons/flaticon.css}"/>
    <link rel="stylesheet" th:href="@{/css/goci-color-palette-1.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css"/>

    <link rel="stylesheet" th:href="@{/css/general.css}"/>

    <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var contextPath = /*[[@{/}]]*/'';
        console.log(contextPath);
        /*]]>*/
    </script>

    <!--https://www.datatables.net/-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

</head>
<body>

<!--Include header-->
<div th:include="fragments/header :: navbar"></div>

<div class="container-fluid">

    <!--Include study navigation tabs-->
    <div class="panel card-3 animated fadeIn" style="margin-top: -25px;">
        <div th:include="fragments/submission_navigation_tabs :: tabs"></div>
    </div>

    <div th:if="${!#strings.isEmpty(result)}">
        <div class="row">
            <div class="col-md-8">
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong th:text="${result}">Success!</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: -40px;">
        <div class="col-md-12">
            <div class="panel card-3 animated fadeIn">
                <div class="panel-body">
                    <div class="table-responsive" style="overflow-y:hidden;">
                        <table class="table table-striped table-bordered" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Action</th>
                                <th style="width:10%">Submission Status</th>
                                <th style="width:10%">Submission Type</th>
                                <th style="width:10%">Submission ID</th>
                                <th style="width:10%">Date Created</th>
                                <th style="width:10%">Submitter</th>
                                <th style="width:10%">PubMed ID</th>
                                <th>Title</th>
                                <th style="width:10%">Author</th>
                                <th style="width:10%">Publication Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="submission : ${submissions}">
                                <td>
                                    <div>
                                        <form class="form-inline" name="assignStatusForm" role="form" method="get"
                                              th:action="@{/submissions/{submissionID}(submissionID=${submission.id})}"
                                              th:object="${submission}">
                                            <div th:switch="${submission.status.toString()}">
                                                <button th:case="REVIEW" type="submit" class="btn-sm"
                                                        th:classappend="btn-warning"
                                                        th:text="Review"></button>
                                                <button th:case="CURATION_COMPLETE" type="submit" class="btn-sm"
                                                        th:classappend="btn-success"
                                                        th:text="Review"></button>
                                                <button th:case="COMPLETE" type="submit" class="btn-sm"
                                                        th:classappend="btn-success"
                                                        th:text="Review"></button>
                                                <button th:case="*" type="submit" class="btn-sm"
                                                        th:classappend="btn-primary"
                                                        th:text="Review"></button>
                                            </div>
                                        </form>
                                    </div>

                                </td>
                                <td>
                                    <div>
                          <span
                                  th:text="${submission.status.equals('CURATION_COMPLETE')} ? 'IMPORTED' : ${submission.status}"></span>
                                    </div>
                                </td>

                                <td class="gwas-tooltip expand" th:attr="data-title=${submission.submissionType.label}">
                                    <p class="text-max-width-100px" th:text="${submission.submissionType.label}"> Submission Type </p>
                                </td>

                                <td class="text-max-width-100px">
                                    <a th:href="@{{baseURL}/submission/{submissionId}(baseURL=${@environment.getProperty('deposition.ui.uri')},submissionId=${submission.id})}"
                                       th:text="${submission.id}" target="_blank"></a>
                                </td>
                                <td>
                                    <p>
                                        <span th:text="${submission.created}"></span>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <span th:text="${submission.curator}"></span>
                                    </p>
                                </td>
                                <td>
                                    <a th:href="@{/studies(page=1,pubmed=${submission.pubMedID})}"
                                       th:text="${submission.pubMedID}" target="_blank"></a>
                                </td>

                                <td class="gwas-tooltip expand" th:attr="data-title=${submission.title}">
                                    <p class="text-max-width-3rem" th:text="${submission.title}"> Submission Title </p>
                                </td>

                                <td th:text="${submission.author}"> ...</td>

                                <td th:text="${submission.publicationStatus}"> ...</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <div style="margin-top: -14px;">
                        <!-- Pagination Starts -->
                        <ul class="pagination" role="navigation" aria-label="Pagination" style="float: left;">

                            <li class="pagination-previous"
                                th:classappend="${#strings.equals(dto.page.number, '1')} ? 'disabled'">
                            <span th:if="${#strings.equals(dto.page.number, '1')}"
                                  aria-label="Previous page">First </span>

                                <a th:unless="${#strings.equals(dto.page.number, '1')}"
                                   th:href="'?page=0&amp;size=' + ${dto.page.size}" aria-label="First page">First </a>
                            </li>

                            <li th:each="i: ${#numbers.sequence(dto.beginIndex, dto.endIndex)}"
                                th:classappend="${i == dto.page.number + 1} ? 'active'"> <!-- +1 offset for spring zero based pagination -->
                                <a th:href="'?page=' + ${i} + '&amp;size=' + ${dto.page.size}"
                                   th:aria-label="'Page ' + ${i}"
                                   th:text="${i}">1</a>
                            </li>

                            <li class="pagination-next"
                                th:classappend="${#strings.equals(dto.page.number, #strings.toString(dto.page.totalPages))} ? 'disabled' ">
                                            <span th:if="${#strings.equals(dto.page.number, #strings.toString(dto.page.totalPages))}"
                                                  aria-label="Last page">Last </span>
                                <a th:unless="${#strings.equals(dto.page.number, #strings.toString(dto.page.totalPages))}"
                                   th:href="'?page=' + ${dto.page.totalPages} + '&amp;size='+ ${dto.page.size}"
                                   aria-label="Last page">Last </a>
                            </li>
                        </ul>

                        <!-- Page Sizing Starts -->
                        <select class="form-control pagination" style="width:50px; float: right;"
                                onchange="window.location = this.options[this.selectedIndex].value;">
                            <option th:value="'?page=' + ${'1'} + '&amp;size=5'"
                                    th:selected="${dto.page.size} eq 15"> 5
                            </option>
                            <option th:value="'?page=' + ${'1'} + '&amp;size=10'"
                                    th:selected="${dto.page.size} eq 10"> 10
                            </option>
                            <option th:value="'?page=' + ${'1'} + '&amp;size=20'"
                                    th:selected="${dto.page.size} eq 20"> 20
                            </option>
                            <option th:value="'?page=' + ${'1'} + '&amp;size=50'"
                                    th:selected="${dto.page.size} eq 50"> 50
                            </option>
                            <option th:value="'?page=' + ${'1'} + '&amp;size=100'"
                                    th:selected="${dto.page.size} eq 100">100
                            </option>
                            <option th:value="'?page=' + ${'1'} + '&amp;size=200'"
                                    th:selected="${dto.page.size} eq 200">200
                            </option>
                            <option th:value="'?page=' + ${'1'} + '&amp;size='+ ${dto.page.totalElements}"
                                    th:selected="${dto.page.size} eq ${dto.page.totalElements}"> ALL
                            </option>
                        </select>
                    </div>


                </div>
            </div>
        </div>


    </div>
</div>

<div th:include="fragments/footer :: page_footer"></div>

<script th:src="@{/js/goci-submission-page.js}"></script>


<style>
    /* setup gwas-tooltips */
    .gwas-tooltip {
        position: relative;
    }

    .gwas-tooltip:before,
    .gwas-tooltip:after {
        display: block;
        opacity: 0;
        pointer-events: none;
        position: absolute;
    }

    .gwas-tooltip:after {
        border-right: 6px solid transparent;
        border-bottom: 6px solid #4F8791;
        border-left: 6px solid transparent;
        content: '';
        height: 0;
        top: 26px;
        left: 20px;
        width: 0;
    }

    .gwas-tooltip:before {
        background: #4F8791;
        border-radius: 2px;
        color: #fff;
        content: attr(data-title);
        padding: 6px 10px;
        top: 32px;
        white-space: normal;
        z-index: 99999;
    }

    /* expand #45A9B8 */
    .gwas-tooltip.expand:before {
        transform: scale3d(.2, .2, 1);
        transition: all .2s ease-in-out;
    }

    .gwas-tooltip.expand:after {
        transform: translate3d(0, 6px, 0);
        transition: all .1s ease-in-out;
    }

    .gwas-tooltip.expand:hover:before,
    .gwas-tooltip.expand:hover:after {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }

    .gwas-tooltip.expand:hover:after {
        transition: all .2s .1s ease-in-out;
    }

    .text-max-width-3rem, .text-max-width-100px {
        overflow: hidden !important;
        max-width: 200px !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }
    .text-max-width-100px {
        max-width: 100px !important;
    }
    .text-max-width-3rem {
        max-width: 200px !important;
    }
</style>
</body>

</html>
