<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GWAS Curation Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/jumbotron.css}" rel="stylesheet"/>
    <link th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet"/>

    <!-- Additional styling on top of bootstrap -->
    <link rel="stylesheet" th:href="@{/css/goci-curation.css}"/>
    <link rel="stylesheet" th:href="@{/css/icons/flaticon.css}"/>
    <link rel="stylesheet" th:href="@{/css/goci-color-palette-1.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css"/>
    <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var contextPath = /*[[@{/}]]*/'';
        console.log(contextPath);

        /*]]>*/
    </script>

    <!--https://www.datatables.net/-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

</head>
<body>

<!--Include header-->
<div th:include="fragments/header :: navbar"></div>

<div class="container-fluid">
    <div><h4>
        <a th:href="@{{baseURL}/submissions(baseURL=${@environment.getProperty('deposition.ui.uri')})}" target="_blank">View
            All Submissions</a></h4>
    </div>
    <div class="row">
        <div class="col-md-12">
          <table id="submissionDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
              <tr>
                  <th style="width:10%">Submission Status</th>
                  <th style="width:10%">Submission ID</th>
                  <th style="width:10%">Date Created</th>
                  <th style="width:10%">Submitter</th>
                  <th style="width:10%">PubMed ID</th>
                  <th>Title</th>
                  <th style="width:10%">Author</th>
                  <th style="width:10%">Publication Status</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="submission : ${submissions}">
                  <td>
                      <div th:if="${submission.status.equals('SUBMITTED')}" th:remove="tag">
                          <form class="form-inline" name="assignStatusForm" role="form" method="post"
                                th:action="@{/submissions/import/{submissionID}(submissionID=${submission.id})}"
                                th:object="${submission}">

                              <span th:text="${submission.status}"></span>
                              <button type="submit"
                                      class="btn btn-primary btn-sm">Import
                              </button>
                          </form>
                      </div>
                      <div th:unless="${submission.status.equals('SUBMITTED')}" th:remove="tag">
                          <span th:text="${submission.status}"></span>
                      </div>
                  </td>
                  <td>
                      <a th:href="@{{baseURL}/submission/{submissionId}(baseURL=${@environment.getProperty('deposition.ui.uri')},submissionId=${submission.id})}"
                         th:text="${submission.id}" target="_blank"></a>
                  </td>
                  <td>
                      <p>
                          <span th:text="${submission.created}"></span>
                      </p>
                  </td>
                  <td>
                      <p>
                          <span th:text="${submission.curator}"></span>
                      </p>
                  </td>
                  <td>
                      <p>
                          <a th:href="@{{baseURL}/publication/{pubMedID}(baseURL=${@environment.getProperty('deposition.ui.uri')},pubMedID=${submission.pubMedID})}"
                             th:text="${submission.pubMedID}" target="_blank"></a>
                      </p>
                  </td>
                  <td>
                      <p>
                          <span th:text="${submission.title}"></span>
                      </p>
                  </td>
                  <td>
                      <p>
                          <span th:text="${submission.author}"></span>
                      </p>
                  </td>
                  <td>
                      <p>
                          <span th:text="${submission.publicationStatus}"></span>
                      </p>
                  </td>
              </tr>
              </tbody>
          </table>
        </div>
    </div>
</div>

<div th:include="fragments/footer :: page_footer"></div>

<script th:src="@{/js/goci-submission-page.js}"></script>
</body>

</html>