@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-size: 25px;
	font-style: normal;
	margin-left: 5px;
	margin-right: 20px;

}

.flaticon-add43:before {
	content: "\e000";
}
.flaticon-bold4:before {
	content: "\e001";
}
.flaticon-car16:before {
	content: "\e002";
}
.flaticon-earth3:before {
	content: "\e003";
}
.flaticon-edit14:before {
	content: "\e004";
}
.flaticon-edit15:before {
	content: "\e005";
}
.flaticon-edit20:before {
	content: "\e006";
}
.flaticon-eject10:before {
	content: "\e007";
}
.flaticon-expand11:before {
	content: "\e008";
}
.flaticon-fwd:before {
	content: "\e009";
}
.flaticon-game3:before {
	content: "\e00a";
}
.flaticon-golf2:before {
	content: "\e00b";
}
.flaticon-group11:before {
	content: "\e00c";
}
.flaticon-group12:before {
	content: "\e00d";
}
.flaticon-group13:before {
	content: "\e00e";
}
.flaticon-group14:before {
	content: "\e00f";
}
.flaticon-group15:before {
	content: "\e010";
}
.flaticon-group16:before {
	content: "\e011";
}
.flaticon-group17:before {
	content: "\e012";
}
.flaticon-group18:before {
	content: "\e013";
}
.flaticon-group19:before {
	content: "\e014";
}
.flaticon-group22:before {
	content: "\e015";
}
.flaticon-hard2:before {
	content: "\e016";
}
.flaticon-hard3:before {
	content: "\e017";
}
.flaticon-hard4:before {
	content: "\e018";
}
.flaticon-height1:before {
	content: "\e019";
}
.flaticon-height2:before {
	content: "\e01a";
}
.flaticon-height3:before {
	content: "\e01b";
}
.flaticon-height4:before {
	content: "\e01c";
}
.flaticon-height5:before {
	content: "\e01d";
}
.flaticon-height6:before {
	content: "\e01e";
}
.flaticon-height:before {
	content: "\e01f";
}
.flaticon-hierarchy:before {
	content: "\e020";
}
.flaticon-home21:before {
	content: "\e021";
}
.flaticon-image11:before {
	content: "\e022";
}
.flaticon-image13:before {
	content: "\e023";
}
.flaticon-image15:before {
	content: "\e024";
}
.flaticon-image16:before {
	content: "\e025";
}
.flaticon-image17:before {
	content: "\e026";
}
.flaticon-image19:before {
	content: "\e027";
}
.flaticon-image25:before {
	content: "\e028";
}
.flaticon-image27:before {
	content: "\e029";
}
.flaticon-image29:before {
	content: "\e02a";
}
.flaticon-image31:before {
	content: "\e02b";
}
.flaticon-imprint:before {
	content: "\e02c";
}
.flaticon-information9:before {
	content: "\e02d";
}
.flaticon-internet6:before {
	content: "\e02e";
}
.flaticon-intranet:before {
	content: "\e02f";
}
.flaticon-kennel:before {
	content: "\e030";
}
.flaticon-keyboard4:before {
	content: "\e031";
}
.flaticon-label2:before {
	content: "\e032";
}
.flaticon-label3:before {
	content: "\e033";
}
.flaticon-label4:before {
	content: "\e034";
}
.flaticon-label5:before {
	content: "\e035";
}
.flaticon-leaf6:before {
	content: "\e036";
}
.flaticon-light10:before {
	content: "\e037";
}
.flaticon-light9:before {
	content: "\e038";
}
.flaticon-link10:before {
	content: "\e039";
}
.flaticon-link12:before {
	content: "\e03a";
}
.flaticon-link9:before {
	content: "\e03b";
}
.flaticon-list18:before {
	content: "\e03c";
}
.flaticon-list19:before {
	content: "\e03d";
}
.flaticon-mail10:before {
	content: "\e03e";
}
.flaticon-mail11:before {
	content: "\e03f";
}
.flaticon-mail12:before {
	content: "\e040";
}
.flaticon-mail13:before {
	content: "\e041";
}
.flaticon-mail15:before {
	content: "\e042";
}
.flaticon-mail16:before {
	content: "\e043";
}
.flaticon-mail17:before {
	content: "\e044";
}
.flaticon-mail6:before {
	content: "\e045";
}
.flaticon-mailbox2:before {
	content: "\e046";
}
.flaticon-mailbox3:before {
	content: "\e047";
}
.flaticon-mailbox4:before {
	content: "\e048";
}
.flaticon-mailbox5:before {
	content: "\e049";
}
.flaticon-mailbox6:before {
	content: "\e04a";
}
.flaticon-mailbox:before {
	content: "\e04b";
}
.flaticon-mainframe:before {
	content: "\e04c";
}
.flaticon-mashup:before {
	content: "\e04d";
}
.flaticon-minus14:before {
	content: "\e04e";
}
.flaticon-mobile13:before {
	content: "\e04f";
}
.flaticon-monitor10:before {
	content: "\e050";
}
.flaticon-move10:before {
	content: "\e051";
}
.flaticon-music17:before {
	content: "\e052";
}
.flaticon-music19:before {
	content: "\e053";
}
.flaticon-music21:before {
	content: "\e054";
}
.flaticon-music22:before {
	content: "\e055";
}
.flaticon-music23:before {
	content: "\e056";
}
.flaticon-music25:before {
	content: "\e057";
}
.flaticon-music29:before {
	content: "\e058";
}
.flaticon-music30:before {
	content: "\e059";
}
.flaticon-music33:before {
	content: "\e05a";
}
.flaticon-music36:before {
	content: "\e05b";
}
.flaticon-music37:before {
	content: "\e05c";
}
.flaticon-music42:before {
	content: "\e05d";
}
.flaticon-music45:before {
	content: "\e05e";
}
.flaticon-network11:before {
	content: "\e05f";
}
.flaticon-network12:before {
	content: "\e060";
}
.flaticon-network13:before {
	content: "\e061";
}
.flaticon-network14:before {
	content: "\e062";
}
.flaticon-network9:before {
	content: "\e063";
}
.flaticon-news3:before {
	content: "\e064";
}
.flaticon-notes10:before {
	content: "\e065";
}
.flaticon-notes2:before {
	content: "\e066";
}
.flaticon-notes3:before {
	content: "\e067";
}
.flaticon-notes4:before {
	content: "\e068";
}
.flaticon-notes5:before {
	content: "\e069";
}
.flaticon-notes6:before {
	content: "\e06a";
}
.flaticon-notes7:before {
	content: "\e06b";
}
.flaticon-notes8:before {
	content: "\e06c";
}
.flaticon-notes9:before {
	content: "\e06d";
}
.flaticon-ontology:before {
	content: "\e06e";
}
.flaticon-owl1:before {
	content: "\e06f";
}
.flaticon-owl2:before {
	content: "\e070";
}
.flaticon-owl3:before {
	content: "\e071";
}
.flaticon-owl4:before {
	content: "\e072";
}
.flaticon-owl5:before {
	content: "\e073";
}
.flaticon-owl6:before {
	content: "\e074";
}
.flaticon-padlock6:before {
	content: "\e075";
}
.flaticon-padlock7:before {
	content: "\e076";
}
.flaticon-page39:before {
	content: "\e077";
}
.flaticon-paragraph10:before {
	content: "\e078";
}
.flaticon-paste:before {
	content: "\e079";
}
.flaticon-path1:before {
	content: "\e07a";
}
.flaticon-pda:before {
	content: "\e07b";
}
.flaticon-pear:before {
	content: "\e07c";
}
.flaticon-phone24:before {
	content: "\e07d";
}
.flaticon-phone28:before {
	content: "\e07e";
}
.flaticon-phone29:before {
	content: "\e07f";
}
.flaticon-pin13:before {
	content: "\e080";
}
.flaticon-pin9:before {
	content: "\e081";
}
.flaticon-plus12:before {
	content: "\e082";
}
.flaticon-point2:before {
	content: "\e083";
}
.flaticon-printer10:before {
	content: "\e084";
}
.flaticon-printer12:before {
	content: "\e085";
}
.flaticon-printer15:before {
	content: "\e086";
}
.flaticon-printer17:before {
	content: "\e087";
}
.flaticon-printer18:before {
	content: "\e088";
}
.flaticon-printer19:before {
	content: "\e089";
}
.flaticon-printer20:before {
	content: "\e08a";
}
.flaticon-printer21:before {
	content: "\e08b";
}
.flaticon-printer22:before {
	content: "\e08c";
}
.flaticon-question10:before {
	content: "\e08d";
}
.flaticon-rdf1:before {
	content: "\e08e";
}
.flaticon-rdf:before {
	content: "\e08f";
}
.flaticon-recent:before {
	content: "\e090";
}
.flaticon-refresh23:before {
	content: "\e091";
}
.flaticon-relevance:before {
	content: "\e092";
}
.flaticon-remove8:before {
	content: "\e093";
}
.flaticon-rotate5:before {
	content: "\e094";
}
.flaticon-route:before {
	content: "\e095";
}
.flaticon-satellite1:before {
	content: "\e096";
}
.flaticon-satellite2:before {
	content: "\e097";
}
.flaticon-screen6:before {
	content: "\e098";
}
.flaticon-script:before {
	content: "\e099";
}
.flaticon-search11:before {
	content: "\e09a";
}
.flaticon-security2:before {
	content: "\e09b";
}
.flaticon-security3:before {
	content: "\e09c";
}
.flaticon-semantic:before {
	content: "\e09d";
}
.flaticon-server10:before {
	content: "\e09e";
}
.flaticon-server11:before {
	content: "\e09f";
}
.flaticon-server2:before {
	content: "\e0a0";
}
.flaticon-server3:before {
	content: "\e0a1";
}
.flaticon-server4:before {
	content: "\e0a2";
}
.flaticon-server5:before {
	content: "\e0a3";
}
.flaticon-server6:before {
	content: "\e0a4";
}
.flaticon-server7:before {
	content: "\e0a5";
}
.flaticon-server8:before {
	content: "\e0a6";
}
.flaticon-server9:before {
	content: "\e0a7";
}
.flaticon-server:before {
	content: "\e0a8";
}
.flaticon-settings11:before {
	content: "\e0a9";
}
.flaticon-ship:before {
	content: "\e0aa";
}
.flaticon-shopping17:before {
	content: "\e0ab";
}
.flaticon-sitemap:before {
	content: "\e0ac";
}
.flaticon-size1:before {
	content: "\e0ad";
}
.flaticon-size2:before {
	content: "\e0ae";
}
.flaticon-size3:before {
	content: "\e0af";
}
.flaticon-size4:before {
	content: "\e0b0";
}
.flaticon-size5:before {
	content: "\e0b1";
}
.flaticon-size6:before {
	content: "\e0b2";
}
.flaticon-size7:before {
	content: "\e0b3";
}
.flaticon-size8:before {
	content: "\e0b4";
}
.flaticon-size:before {
	content: "\e0b5";
}
.flaticon-soccer4:before {
	content: "\e0b6";
}
.flaticon-social98:before {
	content: "\e0b7";
}
.flaticon-source2:before {
	content: "\e0b8";
}
.flaticon-speaker6:before {
	content: "\e0b9";
}
.flaticon-speaker7:before {
	content: "\e0ba";
}
.flaticon-speaker9:before {
	content: "\e0bb";
}
.flaticon-star21:before {
	content: "\e0bc";
}
.flaticon-star22:before {
	content: "\e0bd";
}
.flaticon-statistics:before {
	content: "\e0be";
}
.flaticon-stop12:before {
	content: "\e0bf";
}
.flaticon-stop19:before {
	content: "\e0c0";
}
.flaticon-synchronize:before {
	content: "\e0c1";
}
.flaticon-tablet12:before {
	content: "\e0c2";
}
.flaticon-tab:before {
	content: "\e0c3";
}
.flaticon-target4:before {
	content: "\e0c4";
}
.flaticon-text19:before {
	content: "\e0c5";
}
.flaticon-text21:before {
	content: "\e0c6";
}
.flaticon-text22:before {
	content: "\e0c7";
}
.flaticon-text24:before {
	content: "\e0c8";
}
.flaticon-text25:before {
	content: "\e0c9";
}
.flaticon-text34:before {
	content: "\e0ca";
}
.flaticon-text36:before {
	content: "\e0cb";
}
.flaticon-text37:before {
	content: "\e0cc";
}
.flaticon-train9:before {
	content: "\e0cd";
}
.flaticon-transportation1:before {
	content: "\e0ce";
}
.flaticon-transportation:before {
	content: "\e0cf";
}
.flaticon-trash12:before {
	content: "\e0d0";
}
.flaticon-trash14:before {
	content: "\e0d1";
}
.flaticon-tree7:before {
	content: "\e0d2";
}
.flaticon-upload14:before {
	content: "\e0d3";
}
.flaticon-upload17:before {
	content: "\e0d4";
}
.flaticon-upload18:before {
	content: "\e0d5";
}
.flaticon-upload20:before {
	content: "\e0d6";
}
.flaticon-upload21:before {
	content: "\e0d7";
}
.flaticon-upload22:before {
	content: "\e0d8";
}
.flaticon-upload23:before {
	content: "\e0d9";
}
.flaticon-user22:before {
	content: "\e0da";
}
.flaticon-user23:before {
	content: "\e0db";
}
.flaticon-user24:before {
	content: "\e0dc";
}
.flaticon-user26:before {
	content: "\e0dd";
}
.flaticon-user29:before {
	content: "\e0de";
}
.flaticon-user30:before {
	content: "\e0df";
}
.flaticon-user31:before {
	content: "\e0e0";
}
.flaticon-user32:before {
	content: "\e0e1";
}
.flaticon-user33:before {
	content: "\e0e2";
}
.flaticon-user35:before {
	content: "\e0e3";
}
.flaticon-user36:before {
	content: "\e0e4";
}
.flaticon-user37:before {
	content: "\e0e5";
}
.flaticon-user38:before {
	content: "\e0e6";
}
.flaticon-user39:before {
	content: "\e0e7";
}
.flaticon-user40:before {
	content: "\e0e8";
}
.flaticon-user41:before {
	content: "\e0e9";
}
.flaticon-user42:before {
	content: "\e0ea";
}
.flaticon-user43:before {
	content: "\e0eb";
}
.flaticon-user45:before {
	content: "\e0ec";
}
.flaticon-user46:before {
	content: "\e0ed";
}
.flaticon-user47:before {
	content: "\e0ee";
}
.flaticon-user48:before {
	content: "\e0ef";
}
.flaticon-video16:before {
	content: "\e0f0";
}
.flaticon-video17:before {
	content: "\e0f1";
}
.flaticon-video18:before {
	content: "\e0f2";
}
.flaticon-video19:before {
	content: "\e0f3";
}
.flaticon-video22:before {
	content: "\e0f4";
}
.flaticon-video23:before {
	content: "\e0f5";
}
.flaticon-video26:before {
	content: "\e0f6";
}
.flaticon-video28:before {
	content: "\e0f7";
}
.flaticon-video32:before {
	content: "\e0f8";
}
.flaticon-video33:before {
	content: "\e0f9";
}
.flaticon-video40:before {
	content: "\e0fa";
}
.flaticon-video41:before {
	content: "\e0fb";
}
.flaticon-video42:before {
	content: "\e0fc";
}
.flaticon-video43:before {
	content: "\e0fd";
}
.flaticon-view5:before {
	content: "\e0fe";
}
.flaticon-vuvuzela:before {
	content: "\e0ff";
}
.flaticon-website4:before {
	content: "\e100";
}
.flaticon-weight1:before {
	content: "\e101";
}
.flaticon-width1:before {
	content: "\e102";
}
.flaticon-width2:before {
	content: "\e103";
}
.flaticon-width3:before {
	content: "\e104";
}
.flaticon-width4:before {
	content: "\e105";
}
.flaticon-width5:before {
	content: "\e106";
}
.flaticon-width6:before {
	content: "\e107";
}
.flaticon-width7:before {
	content: "\e108";
}
.flaticon-wireless2:before {
	content: "\e109";
}
.flaticon-wireless5:before {
	content: "\e10a";
}
.flaticon-wireless7:before {
	content: "\e10b";
}
.flaticon-xml1:before {
	content: "\e10c";
}
.flaticon-xml2:before {
	content: "\e10d";
}
.flaticon-zoom12:before {
	content: "\e10e";
}
.flaticon-zoom9:before {
	content: "\e10f";
}
